#

## Kelton McNair - 992018683
### CS 601 - Machine Learning
### Spring Semester Project 2025
### Dr. Afshar
### Random Forest Classifier
### Dataset: Adult

In [1]:
# from ucimlrepo import fetch_ucirepo 
  
# # fetch dataset 
# letter_recognition = fetch_ucirepo(id=59) 
  
# # data (as pandas dataframes) 
# X = letter_recognition.data.features 
# y = letter_recognition.data.targets 
  
# # metadata 
# print(letter_recognition.metadata) 
  
# # variable information 
# print(letter_recognition.variables)

In [2]:
# pip install ucimlrepo

# from ucimlrepo import fetch_ucirepo 
  
# # fetch dataset 
# adult = fetch_ucirepo(id=2) 
  
# # data (as pandas dataframes) 
# X = adult.data.features 
# y = adult.data.targets 
  
# # metadata 
# print(adult.metadata) 
  
# # variable information 
# print(adult.variables)

In [3]:
import numpy as np
from numpy.random import default_rng
import pandas as pd
from mcnair_rf_classifier import imported_random_forest_classifier

from multiprocessing import Pool # multiprocessing but requires function to be in a .py file when working with jupyter?
from multiprocessing import get_context #older fork method not newer spawn, issues with this also, need to put functions in .py file maybe

#not sure what all I need for comparative evaluation sklearn model yet
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder



rng = default_rng(110)

In [4]:
data = pd.read_csv("adult/adult.data") #na_values didnt work

In [5]:
extracted_col_names = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

In [6]:
data.columns = extracted_col_names

In [7]:
data.sample(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
16934,25,Private,69739,10th,6,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
19497,58,Federal-gov,129786,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
22836,24,Private,67804,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,40,United-States,<=50K

In [8]:
data.isnull()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32556,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32557,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32558,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32559,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [10]:
# we are not seeing any NA values or missing values, but if we check value counts below, we see that there are values with a ? as the value
data.isna().any()

age               False
workclass         False
fnlwgt            False
education         False
education-num     False
marital-status    False
occupation        False
relationship      False
race              False
sex               False
capital-gain      False
capital-loss      False
hours-per-week    False
native-country    False
income            False
dtype: bool

In [11]:
# for col in data.columns:
#     print(data[col].value_counts())

In [18]:
for col in merged_train_test.columns:
    print(merged_train_test[col].value_counts())

age
36    1348
35    1337
33    1335
23    1329
31    1325
      ...
88       6
85       5
87       3
89       2
86       1
Name: count, Length: 74, dtype: int64
workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1980
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64
fnlwgt
203488    21
190290    19
120277    19
125892    18
126569    18
          ..
158737     1
286983     1
185942     1
234220     1
350977     1
Name: count, Length: 28522, dtype: int64
education
HS-grad         15784
Some-college    10878
Bachelors        8024
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64
education-num
9     15784
10    10878
13     8024
14     2657
11     2061
7      1812
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: count, dtype: int64
marital-status
Married-civ-spouse       22379
Never-married            16116
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64
occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5610
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64
relationship
Husband           19716
Not-in-family     12582
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: count, dtype: int64
race
White                 41761
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64
sex
Male      32649
Female    16192
Name: count, dtype: int64
capital-gain
0        44807
15024      513
7688       410
7298       364
99999      244
         ...
22040        1
2387         1
1639         1
1111         1
6612         1
Name: count, Length: 123, dtype: int64
capital-loss
0       46559
1902      304
1977      253
1887      233
2415       72
        ...
1539        1
1870        1
1911        1
2465        1
1421        1
Name: count, Length: 99, dtype: int64
hours-per-week
40    22802
50     4246
45     2717
60     2177
35     1937
      ...
94        1
82        1
87        1
79        1
69        1
Name: count, Length: 96, dtype: int64
native-country
United-States                 43831
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64
income
<=50K     24719
<=50K.    12435
>50K       7841
>50K.      3846
Name: count, dtype: int64

In [25]:
cols_categorical = [] # we use this in about 15 cells

for col in data.columns:
    current_data_type = data[col].dtype
    print(col,'-',current_data_type)
    if current_data_type != 'int64' and current_data_type != 'float64':
        cols_categorical.append(col)
        data[col] = data[col].str.strip()

age - int64
workclass - object
fnlwgt - int64
education - object
education-num - int64
marital-status - object
occupation - object
relationship - object
race - object
sex - object
capital-gain - int64
capital-loss - int64
hours-per-week - int64
native-country - object
income - object

In [26]:
# for col in data.columns:
#     x = data.apply(lambda col: (col == '?').sum())
#     print (x)

question_marks = data.apply(lambda col: (col == '?').sum())

print (question_marks)

# we see that there are anywhere between 1836 and 1836+1843+583 total samples with a ?
# given that we are encoding with oneHot / dummy encoding, can you leave a ?, because it will be encoded into its own category bucket
# or in this situation is it better to try and apply a "nearby" or similar value for these samples categories through something like knn/clustering/other method?

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [27]:
cols_categorical

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country',
 'income']

In [28]:
for col in data.columns:
    print(data[col].value_counts())

age
36    898
31    888
34    886
23    877
35    876
     ...
83      6
88      3
85      3
86      1
87      1
Name: count, Length: 73, dtype: int64
workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1297
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64
fnlwgt
164190    13
203488    13
123011    13
148995    12
126675    12
          ..
325573     1
140176     1
318264     1
329205     1
257302     1
Name: count, Length: 21647, dtype: int64
education
HS-grad         10501
Some-college     7291
Bachelors        5354
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64
education-num
9     10501
10     7291
13     5354
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: count, dtype: int64
marital-status
Married-civ-spouse       14976
Never-married            10682
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3769
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64
relationship
Husband           13193
Not-in-family      8304
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: count, dtype: int64
race
White                 27815
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64
sex
Male      21789
Female    10771
Name: count, dtype: int64
capital-gain
0        29849
15024      347
7688       284
7298       246
99999      159
         ...
1111         1
2538         1
22040        1
4931         1
5060         1
Name: count, Length: 119, dtype: int64
capital-loss
0       31041
1902      202
1977      168
1887      159
1848       51
        ...
2080        1
1539        1
1844        1
2489        1
1411        1
Name: count, Length: 92, dtype: int64
hours-per-week
40    15216
50     2819
45     1824
60     1475
35     1297
      ...
82        1
94        1
92        1
74        1
87        1
Name: count, Length: 94, dtype: int64
native-country
United-States                 29169
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64
income
<=50K    24719
>50K      7841
Name: count, dtype: int64

In [29]:
# if rows with missing values are > x% we need to do something with them
# if rows with missing values are <x% we drop ##

#filling missing values:
# data['age'].value_counts() # filtered from greatest to least value occurence (dropna=False) as a parameter would should how many missing 

#fillna(value, inplace) to change missing values to the value specified
# can you call a function, like knn as the value? 
# inplace would commit the action to the dataframe , make the change in place
# what is x?
# what do we do with those rows if %>x

rows_with_question = []

for index, sample in data.iterrows():
    if "?" in sample.values:
        rows_with_question.append(index)
print("# of samples with missing values as a '?':",len(rows_with_question))

# of samples with missing values as a '?': 2399

In [30]:
len(rows_with_question) / data.shape[0]

0.07367936117936118

In [31]:
# With only 7.36% of the samples having a missing value, we will just drop those
# The dataset currently isn't balanced in the target / label feature column
# =<50k has roughly 3x the number of samples than >50k
# But we can select a balanced mix of either, 15k total samples still, and we will get a lot of variance in the =<50k bootstraps between trees
# if all 7.5% of the samples were in the lower sample count category of your label, it may be worth considering value replacement for them
# this would be important if you didn't have enough samples in that lesser value count label category
# Can you ever just treat ? as a category?

In [32]:
cleaned_Data = data.drop(index=rows_with_question)
# for col in cleaned_Data.columns:
#     print(cleaned_Data[col].value_counts())

In [33]:
question_marks_cleaned = cleaned_Data.apply(lambda col: (col == '?').sum())

print (question_marks_cleaned)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [34]:
encoding_data = cleaned_Data.copy()
encoding_data.head(14) # our first removed samples was at index 13

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K

In [35]:

# data["income"] = data["income"].map( {'<=50K': 0, '>50K': 1} ) mapping didnt work for me for some reason, loc issues?
# data["income"].isna().sum() 

# manual binary encoding for just the two categories of the label

for index, sample in encoding_data.iterrows():
    if sample['income'] == '>50K':
        encoding_data.at[index, 'income'] = 1
    elif sample['income'] == '<=50K':
        encoding_data.at[index, 'income'] = 0
encoding_data["income"].isna().sum() 
encoding_data['income'] = encoding_data['income'].astype(int)

In [36]:
encoding_data['income']

0        0
1        0
2        0
3        0
4        0
        ..
32555    0
32556    1
32557    0
32558    0
32559    1
Name: income, Length: 30161, dtype: int64

In [37]:
encoding_data['income'].value_counts()

income
0    22653
1     7508
Name: count, dtype: int64

In [38]:
cleaned_Data['income'].value_counts()

income
<=50K    22653
>50K      7508
Name: count, dtype: int64

In [39]:
# encoding_data.tail()

In [40]:
# data.tail()

In [41]:
# this encoding worked as the income categories were assigned the correct binary values

In [42]:
# pass in data and the col

# create a vector for each sample for that categorical value - maybe not this, different application
# fill it with zeros, and then append a 1 if for the categorical value the samples value was equal to that column value, if not a zero


# not sure if we can use sklearn encoding
# i am not sure one hot is the best for this because of the added features making the # of features more sparse
# But I know that one-hot is the most common encoding even with making features sparse
# 15 to nearly 110 level of increase

def one_hot (encoding_data, current_col):
    replacement_one_hot_cols = pd.DataFrame(index = encoding_data.index)

    categories = encoding_data[current_col].unique()
    
    for category in categories:
        print(current_col, "-", category)
        new_col_name = f"{current_col}_{category}"
        replacement_one_hot_cols[new_col_name] = (encoding_data[current_col] == category).astype(int)
    # print 
    return replacement_one_hot_cols

In [43]:
for col in encoding_data.columns:
    current_data_type = encoding_data[col].dtype
    if current_data_type != 'int64' and current_data_type != 'float64':
        add_these = one_hot(encoding_data, col)
        
        encoding_data = pd.concat([encoding_data, add_these], axis = 1) # make it remove the current col and add the news ones in the same place?

workclass - Self-emp-not-inc
workclass - Private
workclass - State-gov
workclass - Federal-gov
workclass - Local-gov
workclass - Self-emp-inc
workclass - Without-pay
education - Bachelors
education - HS-grad
education - 11th
education - Masters
education - 9th
education - Some-college
education - Assoc-acdm
education - 7th-8th
education - Doctorate
education - Assoc-voc
education - Prof-school
education - 5th-6th
education - 10th
education - Preschool
education - 12th
education - 1st-4th
marital-status - Married-civ-spouse
marital-status - Divorced
marital-status - Married-spouse-absent
marital-status - Never-married
marital-status - Separated
marital-status - Married-AF-spouse
marital-status - Widowed
occupation - Exec-managerial
occupation - Handlers-cleaners
occupation - Prof-specialty
occupation - Other-service
occupation - Adm-clerical
occupation - Sales
occupation - Transport-moving
occupation - Farming-fishing
occupation - Machine-op-inspct
occupation - Tech-support
occupation - Craft-repair
occupation - Protective-serv
occupation - Armed-Forces
occupation - Priv-house-serv
relationship - Husband
relationship - Not-in-family
relationship - Wife
relationship - Own-child
relationship - Unmarried
relationship - Other-relative
race - White
race - Black
race - Asian-Pac-Islander
race - Amer-Indian-Eskimo
race - Other
sex - Male
sex - Female
native-country - United-States
native-country - Cuba
native-country - Jamaica
native-country - India
native-country - Mexico
native-country - Puerto-Rico
native-country - Honduras
native-country - England
native-country - Canada
native-country - Germany
native-country - Iran
native-country - Philippines
native-country - Poland
native-country - Columbia
native-country - Cambodia
native-country - Thailand
native-country - Ecuador
native-country - Laos
native-country - Taiwan
native-country - Haiti
native-country - Portugal
native-country - Dominican-Republic
native-country - El-Salvador
native-country - France
native-country - Guatemala
native-country - Italy
native-country - China
native-country - South
native-country - Japan
native-country - Yugoslavia
native-country - Peru
native-country - Outlying-US(Guam-USVI-etc)
native-country - Scotland
native-country - Trinadad&Tobago
native-country - Greece
native-country - Nicaragua
native-country - Vietnam
native-country - Hong
native-country - Ireland
native-country - Hungary
native-country - Holand-Netherlands

In [44]:

label_column_name = ['income']
cols_categorical.remove(label_column_name[0])

In [45]:
encoding_data = encoding_data.drop(cols_categorical, axis=1)

In [46]:
# for col in encoding_data.columns:
#     print(encoding_data[col].value_counts())

In [47]:
for col in encoding_data.columns:
    current_data_type = encoding_data[col].dtype
    print(col,':',current_data_type)

age : int64
fnlwgt : int64
education-num : int64
capital-gain : int64
capital-loss : int64
hours-per-week : int64
income : int64
workclass_Self-emp-not-inc : int64
workclass_Private : int64
workclass_State-gov : int64
workclass_Federal-gov : int64
workclass_Local-gov : int64
workclass_Self-emp-inc : int64
workclass_Without-pay : int64
education_Bachelors : int64
education_HS-grad : int64
education_11th : int64
education_Masters : int64
education_9th : int64
education_Some-college : int64
education_Assoc-acdm : int64
education_7th-8th : int64
education_Doctorate : int64
education_Assoc-voc : int64
education_Prof-school : int64
education_5th-6th : int64
education_10th : int64
education_Preschool : int64
education_12th : int64
education_1st-4th : int64
marital-status_Married-civ-spouse : int64
marital-status_Divorced : int64
marital-status_Married-spouse-absent : int64
marital-status_Never-married : int64
marital-status_Separated : int64
marital-status_Married-AF-spouse : int64
marital-status_Widowed : int64
occupation_Exec-managerial : int64
occupation_Handlers-cleaners : int64
occupation_Prof-specialty : int64
occupation_Other-service : int64
occupation_Adm-clerical : int64
occupation_Sales : int64
occupation_Transport-moving : int64
occupation_Farming-fishing : int64
occupation_Machine-op-inspct : int64
occupation_Tech-support : int64
occupation_Craft-repair : int64
occupation_Protective-serv : int64
occupation_Armed-Forces : int64
occupation_Priv-house-serv : int64
relationship_Husband : int64
relationship_Not-in-family : int64
relationship_Wife : int64
relationship_Own-child : int64
relationship_Unmarried : int64
relationship_Other-relative : int64
race_White : int64
race_Black : int64
race_Asian-Pac-Islander : int64
race_Amer-Indian-Eskimo : int64
race_Other : int64
sex_Male : int64
sex_Female : int64
native-country_United-States : int64
native-country_Cuba : int64
native-country_Jamaica : int64
native-country_India : int64
native-country_Mexico : int64
native-country_Puerto-Rico : int64
native-country_Honduras : int64
native-country_England : int64
native-country_Canada : int64
native-country_Germany : int64
native-country_Iran : int64
native-country_Philippines : int64
native-country_Poland : int64
native-country_Columbia : int64
native-country_Cambodia : int64
native-country_Thailand : int64
native-country_Ecuador : int64
native-country_Laos : int64
native-country_Taiwan : int64
native-country_Haiti : int64
native-country_Portugal : int64
native-country_Dominican-Republic : int64
native-country_El-Salvador : int64
native-country_France : int64
native-country_Guatemala : int64
native-country_Italy : int64
native-country_China : int64
native-country_South : int64
native-country_Japan : int64
native-country_Yugoslavia : int64
native-country_Peru : int64
native-country_Outlying-US(Guam-USVI-etc) : int64
native-country_Scotland : int64
native-country_Trinadad&Tobago : int64
native-country_Greece : int64
native-country_Nicaragua : int64
native-country_Vietnam : int64
native-country_Hong : int64
native-country_Ireland : int64
native-country_Hungary : int64
native-country_Holand-Netherlands : int64

In [48]:
encoding_data.shape[1]

105

In [ ]:
#22653 less than 50k
#7508 more than 50k

# SKLEARN Implementation

In [ ]:

#class sklearn.ensemble.RandomForestClassifier(n_estimators=100, *, criterion='gini', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='sqrt', max_leaf_nodes=None, min_impurity_decrease=0.0, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False, class_weight=None, ccp_alpha=0.0, max_samples=None, monotonic_cst=None)[source]

rf = RandomForestClassifier(n_estimators=100, criterion='gini', max_depth=None, min_samples_split=10, min_samples_leaf=5, max_features='sqrt', bootstrap=True, oob_score=False, n_jobs=-1, random_state=110)
X = data.iloc[:, :-1]
y = data[['income']]
y_fixed = encoder.fit_transform(y)
# rf.fit(X, y)

####Lab 1-2 Stuff

In [ ]:
def sample_information (num_samples):
    depth_counter = 0
    resulting = 15
    calcd_resulting = num_samples
    while (calcd_resulting > resulting):
        depth_counter+=1
        calcd_resulting = np.ceil(calcd_resulting / 2) #int division "//" would do floor

    return depth_counter, calcd_resulting



#hpyer parameters
label_col_name = "income"
num_trees_in_forest = 150
num_random_features = int(np.ceil(np.sqrt(data.shape[1])))
# depth_threshold = 10 #32560 samples / 2 (10 times) = 32
# we could use a for loop to calc this based on sample size, and pass that to the two below 
# split_leaf_minimum = 32


depth_threshold, split_leaf_minimum = sample_information(data.shape[0])
split_node_min_samples = (split_leaf_minimum * 2) + 1



print(depth_threshold, split_leaf_minimum, split_node_min_samples)
# what is a good depth? what is a good number of min samples to split and per leaf values?
# i think i read 6-7 depth is a lot

# how many combinations of num random features are possible, so how many times within the num trees in forest will there be duplicates?
# how many duplicates would be good mathematically?
# 15 choose 4 is 1365, so what % of this do we want for num trees in forest?

In [ ]:
# In this function I am taking in the training dataset, the label and the total number of train samples
# for each training sample in the dataset we randomly grab a row from the training dataset to create our bootstrap dataset
# so in our case we have a training dataset of 8500, so we create a bootstrap that has 8500 samples from our original train dataset
# we get indices to pull from the training set randomly by generating a random # from 0 to 8499 and adding that row to our array
# once we have created our array of samples from the rows of the training dataset, we create the bootstrap dataset from our array of rows
# this method will allow duplicates, and with this many samples we should end up with roughly 65% of the train dataset in our bootstrap
# then we seperate the label column from the X_bootstrap resulting in just the training data with no label
# then y_bootstrap is just the labels column, but all of the indices match up

def bootstrap_creator(this_tree_data, label_column_name, total_samples):
  bootstrap_for_this_tree = [] # holder array

  for i in range(total_samples): # match size of bootstrap to size of training data set
    random_index_to_add = np.random.randint(0 , total_samples) # generate a row index to grab from the training datatset
    bootstrap_for_this_tree.append(this_tree_data.iloc[random_index_to_add]) # add that dataset row to our array


    #create the bootstrap dataframe
  bootstrap = pd.DataFrame(bootstrap_for_this_tree) # I suppose I could have np.unique before creating the dataframe here - nevermind that didn't work how I intended

    # generate X and Y bootstraps from bootstrap
  X_bootstrap = bootstrap.drop(label_column_name, axis=1)
  y_bootstrap = bootstrap[label_column_name]

  return X_bootstrap, y_bootstrap, bootstrap

In [ ]:
# this function is used to calculate the rows from the training dataset that did not make it into this bootstrap dataset
# we pass in the label, the training dataset and the randomly selected bootstrap dataset
# with a dataframe this is a bit simpler than with the all integer numpy array from the class example
# here we can simply drop all of the indices (rows) that exist in the bootstrap data set from the training data set and we are left with the out of box sample set
# I didn't need to copy the dataframe, I find myself doing this somewhat often when I am working with dataframes to maintain the last version of them
# I want to say I picked up this habit during my AI course but I don't remember why exactly, I think it had to do with model evaluations
# then to find the data frames for X_oob and y_oob we simply drop the label from our total oob dataframe for X and pull out only the label column for our y

def oob_determination(tree_data, bootstrap, label_column_name):

    # drop bootstrap rows from the total tree training data set to be left with a dataframe of only the none-selected training samples
  oob_for_this_tree = tree_data.drop(index=bootstrap.index) # drop all the indices from the tree dataset/ training dataset that exist within the bootstrap for this specific tree

    # copy oob_for_this_tree incase we need to pass it as a return later
  all_oob_this_tree = oob_for_this_tree.copy()

    # make the X-oob and y_oob respective dataframes
  X_oob = oob_for_this_tree.drop(label_column_name, axis=1)
  y_oob = oob_for_this_tree[label_column_name]

  return X_oob, y_oob, all_oob_this_tree

In [ ]:
#this function calls the bootstrap creation function and then passes the bootstrap dataset into oob to return the oob values
# meaning bootstrap + oob below make up the entirety of the 8500 data samples within sample_data_train without any overlap
# and this function just returns the output of both lumped together
def boot_strap_and_oob(tree_data, label_column_name, total_samples):
  X_bootstrap, y_bootstrap, bootstrap = bootstrap_creator(tree_data, label_column_name, total_samples)
  X_oob, y_oob, all_oob = oob_determination(tree_data, bootstrap, label_column_name)

  return X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap, all_oob

In [ ]:
# this is the split point function that we developed in class and used in assignment 1
# when we call it in our program we are iterating through a series of values to determine all splitpoints for the feature

def split_point_finder(x):
  mid_points_in_column = []
  x_sorted = sorted(x)

  for i in range(0, len(x)-1):
    mid_point = ( (x_sorted[i] + x_sorted[i+1]) / 2)
    mid_points_in_column.append(mid_point)
  return mid_points_in_column


# lab 1 below, 2 above

# x here is a single column, we create a list to store the midpoints (len column -1 values)
# we sort that column, and for every value from 0 to len -1 we take the average of the current column value and the next
# we append these midpoints to the list and return that list, giving us a list of midpoints per column

def split_point_finder(x):
  mid_points_in_column = []
  x_sorted = sorted(x)

  for i in range(0, len(x)-1):
    mid_point = ( (x_sorted[i] + x_sorted[i+1]) / 2)
    mid_points_in_column.append(mid_point)
  return mid_points_in_column

In [ ]:
# this is the left and right node function we developed in class and used in assignment 1
# we use this to find the x-y pairs that will go to the left and ride nodes given a certain split point, we test all unique split points with this later

def branching_splits(x, y, split_point):
  mask = x >= split_point
  anti_mask = x < split_point
  x_right = x[mask]
  x_left = x[anti_mask]
  y_right = y[mask]
  y_left = y[anti_mask]
  return x_right, x_left, y_right, y_left

#1 below 2 above

# here we pass in the feature column, the label column and the split point we are using
# the mask applied filters values greater or equal to the split point
# the anti mask is values less than the split point
# we then create true/false or right/left lists of the feature column and the label column with the mask filtering
# we return the the true/false or right/left list of the feature column and the corresponding label column

def branching_splits(x, y, split_point):
  mask = x >= split_point
  anti_mask = x < split_point
  x_right = x[mask]
  x_left = x[anti_mask]
  y_right = y[mask]
  y_left = y[anti_mask]
  return x_right, x_left, y_right, y_left

In [ ]:
# here we iterate through each feature in dataframe features except for our label column, which is price, but I made it declarable in the function call
# we seperate the label data from the rest of the dataframe and then iterate over the remaining columns which are the features
# we find the split points for each column, there are many repeats so we make a list of just the unique split point values
# I then iterate through those unique split points getting the left and right branching values that are then sent to the MAE function
# the mae function calculates the root node MAE and the weighted mae of the leaf nodes for that split point being tested
# after getting the MAE values back we store them in a dictionary with this structure key:(feature, split point), value:(root mae, split point mae)
# we return the columns we iterated through and the dictionary with the unique split points for each feature and the value pair for the root mae and that split points weighted mae

#lab 1

def best_branching_multiple_features(data, label_column_name):

  y = data[label_column_name]
  features_to_test = data.drop(label_column_name, axis=1)
  number_features = len(features_to_test.columns)

  feature_error_dictionary = {}


  for feature in features_to_test.columns:
    x = data[feature]

    split_points = split_point_finder(x)
    split_points_unique = np.unique(split_points)

    for split_point in split_points_unique:
      x_right, x_left, y_right, y_left = branching_splits(x, y, split_point)
      unique_errors = MAE(y,y_right,y_left)
      feature_error_dictionary[feature, split_point] = [unique_errors]

  return features_to_test.columns, feature_error_dictionary





# I created this function instead of of adding this to the best_branding_multiple_features functions because I felt like the function was too long and harder to understand
# this function calls the best_branching_multiple_features function to retrieve the columns we iterated over and the dictionary of split point/ weighted mae values
# the goal here is to iterate through the dictionary values for each feature column and find the key/value pair with the lowest weighted mae and record it
# This could be implemented into the " for feature in features_to_test.columns:" statement in the function that creates the dictionary but I found it more difficult to comprehend
# that may be personal prefence though, this adds some computational overhead having to re-iterate through all of the features again, so for very large datasets it would be inefficient
# for the upcoming sections we need a way to retrieve the best feature, its split and the weighted mae for any node of a tree so I have chosen to extract those values individually
# instead of only bundled in a key,value pair - I am also returning a dictionary of key,value pairs for all of the feature columns incase we need to use a specific one even if its not the best
# I iterate through all of the features, within those features we check the dictionary to see if the entry belongs to that feature
# if it does then we check to see if that weighted MAE is the lowest so far for that feature, if it is we save it, if not we move on
# we do this for each feature, and we also check to see if it is the lowest recorded MAE amongst all features by saving the lowest MAE key,value pair for each feature
# after each feature is iterated its lowest MAE key/value is evaluated against the others and the lowest is recorded as the overall best feature, split point and MAE


def current_branching_best(data, label_column_name):
  tested_features, feature_error_dictionary = best_branching_multiple_features(data, label_column_name)

  each_feature_best_split_point = {}
  best_overall_feature,best_overall_split_for_feature,best_overall_error_for_feature = None, None, float('inf')

  for feature in tested_features:
    best_error_for_current_feature, best_split_for_current_feature = float('inf'), None

    for (this_feature, this_split_point), error_value_pair in feature_error_dictionary.items():

      if this_feature == feature:
        error_pair = error_value_pair[0]
        split_mae = error_pair[1]

        if split_mae < best_error_for_current_feature:
          best_error_for_current_feature = split_mae
          best_split_for_current_feature = this_split_point
    each_feature_best_split_point[feature, best_split_for_current_feature] =(error_pair[0], best_error_for_current_feature)

    if best_error_for_current_feature < best_overall_error_for_feature:
      best_overall_error_for_feature = best_error_for_current_feature
      best_overall_feature = feature
      best_overall_split_for_feature = best_split_for_current_feature






  return best_overall_feature, best_overall_split_for_feature, best_overall_error_for_feature, each_feature_best_split_point

In [ ]:
#gini
def Gini(count_series, samples):
    return 1 - sum( ((count / samples) ** 2) for count in count_series)

In [ ]:
#entropy
def Entropy(count_series, samples):
    return -sum( ((count / samples) * np.log2((count / samples))) for count in count_series)

In [ ]:
def weighted_Entropy(y, y_right, y_left):
    num_samples_root = len(y)
    num_samples_left_child = len(y_left)
    num_samples_right_child = len(y_right)

    root_entropy = Entropy( y.value_counts(), num_samples_root)

    left_child_entropy = Entropy( y_left.value_counts(), num_samples_left_child)

    right_child_entropy = Entropy ( y_right.value_counts(), num_samples_right_child)

    weighted_nodes_entropy = (num_samples_left_child / num_samples_root) * left_child_entropy + (num_samples_right_child / num_samples_root) * right_child_entropy
    

    return root_entropy, weighted_nodes_entropy

In [ ]:
def weighted_Gini(y, y_right, y_left):
    y_counts = y.value_counts()
    num_samples_root = len(y)
    num_samples_left_child = len(y_left)
    num_samples_right_child = len(y_right)

    root_gini = Gini( y.value_counts(),  num_samples_root)

    left_child_gini = Gini( y_left.value_counts(), num_samples_left_child)

    right_child_gini = Gini ( y_right.value_counts(), num_samples_right_child)

    weighted_nodes_gini = (num_samples_left_child / num_samples_root) * left_child_gini + (num_samples_right_child / num_samples_root) * right_child_gini
    

    return root_gini, weighted_nodes_gini

In [ ]:
wegi

In [ ]:
# this function is pulled from assignment 1 and has a few slight modifications
# this functions purpose is to find the best split point and feature at each node of the decision tree
# it then returns the feature, split point, root node mse, branching leaf node weighted mse and the dictionary of all errors for the features tested

# what we have modified in this code is the ability to randomly select features at each node of the tree, a subset of the total training dataset features
# we do this by taking num_random_features_to_choose making it a parameter that can be adjusted in our decision tree creation function
# we specify the number of features we want to randomly choose, then before we begin looping for the feautures looking for the best feature / split point
# we randomly select from our total features in the dataset columns the parameter number of features to test for the splitting at this node
# so if we have a parameter of 5 and 17 feature columns in our dataframe, we randomly choose 5 of those 17 with duplicates not being allowed
# from there the function works the same way as assignment 1 where we determine the best split point and feature from those we test to determine the best splitting for this node

# we pass in the bootstrap data to this function not the total training dataset
def best_branching_random_features(data, label_column_name, num_random_features_to_choose, criterion_equation):

  y = data[label_column_name]
  possible_features_to_test = data.drop(label_column_name, axis=1) # drop the label column from the dataframe so only features are left

  randomized_features_this_node = rng.choice(possible_features_to_test.columns, num_random_features_to_choose, replace = False)
  # we use rng.choice to randomly choose (parameter number of features) from (all feature columns that are present in the dataframe) and don't allow duplicates

  this_node_data = possible_features_to_test[randomized_features_this_node].copy() # then we create a new dataframe only copying the feature columns selected by our random feature selector above
  # we get a smaller dataframe with only the number of features declared in the function parameter

  feature_error_dictionary = {}

  # In assignment 1 we wouldn't have ran into these errors, but I ran into an error for each of these variables not being initialized
  # min error should be set to inf, anythign smaller will replace it
  minimum_error = float('inf')

  # these 3 can create errors further down our decision tree building if no split points are found to reduce the minimum error, if they arent initialized now and we go to return them
  # then we get the errors I pasted in below - if your testing a split with only has 100 samples and for a feature they are all the same value, then no split point exists and these
  # values would be left un-initialized given our structure below
  node_mse = float('inf')
  best_feature = 'Kelton'
  best_split_point_current_feature = 992018683
  #UnboundLocalError: cannot access local variable 'best_feature' where it is not associated with a value
  #UnboundLocalError: cannot access local variable 'node_mse' where it is not associated with a value
  #UnboundLocalError: cannot access local variable 'best_split_point_current_feature' where it is not associated with a value

  for feature in this_node_data.columns:
    x = data[feature]

    split_points = split_point_finder(x)
    split_points_unique = np.unique(split_points)

    for split_point in split_points_unique:
      x_right, x_left, y_right, y_left = branching_splits(x, y, split_point)

      match criterion_equation:
        case 'Gini':
            unique_errors = Gini(y,y_right,y_left)
            feature_error_dictionary[feature, split_point] = [unique_errors]
        case 'Entropy':
            unique_errors = Entropy(y,y_right,y_left)
            feature_error_dictionary[feature, split_point] = [unique_errors]
        
        
      # unique_errors = weighted_branch_MSE(y,y_right,y_left)
      # feature_error_dictionary[feature, split_point] = [unique_errors]

        # recording the best feature and split point based on lowest weighted branch mse from the mse function
      if unique_errors[1] < minimum_error:
        minimum_error = unique_errors[1]
        node_mse = unique_errors[0]
        best_feature = feature
        best_split_point_current_feature = split_point

  return feature_error_dictionary, node_mse, minimum_error, best_feature, best_split_point_current_feature

In [ ]:
# showing that the best_branching_random_features function delivers the best split point, feature, and mse of leaves along with root node mse
def main(data, label_column_name, num_randomized_features):
  total_samples = data.shape[0]

  dictionary_of_errors_for_node, root_mse, branch_mse, feature, split_point = best_branching_random_features(data, label_column_name, num_randomized_features)

  print(root_mse)
  print(branch_mse)
  print(feature)
  print(split_point)

  return dictionary_of_errors_for_node, root_mse, branch_mse, feature, split_point

In [ ]:
mcnair_data = data.copy()
label_column_name = 'income'
# number_of_random_features = int(np.sqrt((mcnair_data.shape[1])-1)) # rounds down to 4
total_samples = data.shape[0]
X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap, all_oob = boot_strap_and_oob(mcnair_data, label_column_name, total_samples)


dictionary_of_errors_for_node, root_mse, branch_mse, feature, split_point = main(bootstrap, label_column_name, num_random_features)

In [ ]:

features = []
for feature, split_point in dictionary_of_errors_for_node:
  features.append(feature)

In [ ]:
np.unique(features)

In [ ]:
# this is my decision tree builder function, which is similar to that of which was built in class but I went with a dictionary instead of a tuple return type
# I have set parameters for max depth of the tree, minimum number of samples in a node to try to split it, and a minimum number of samples in the resulting leaves to continue with the splitting


def dt_builder(bootstrap_current_node, label_column_name, num_randomized_features, minimum_samples_per_leaf, min_samples_per_split, max_depth, depth = 0):

  before_split_sample_size = bootstrap_current_node.shape[0]# get the number of samples in the current parent node


  # this is like the max depth checker in the in-class example, but we must also check to make sure that there are enough samples in the parent node to even determine if splitting is worthwhile
  if depth >= max_depth or before_split_sample_size < min_samples_per_split: # if depth is >= max depth or there arent enough samples in the parent node then we return a prediction
    return {"prediction_this_node": np.mean(bootstrap_current_node[label_column_name])}

  # we have not reached max depth or the minimum number of samples in the parent node, so we call our function to find the best splitting at this node
  # we pass thorugh the current node sample, the label, and the number of features to randomly choose
  dictionary_of_errors_for_node, root_mse, branch_mse, feature, split_point = best_branching_random_features(bootstrap_current_node, label_column_name, num_randomized_features)


  # this is where I began getting errors for the uninitialized best feature, split and root mse in our branching function
  # I have initialized the best feature to my name, if this is returned that means there were no valid split points found in the features randomly selected
  # this seems to be due to a small number of samples in the node and the sample feature values being the same, like all having 1.0 floors as an example, no splits found so kelton is returned
  # in the case that this non-feature basecase is returned we can no longer split and return this node as a prediction node
  if feature == 'Kelton':
    # print(feature) # testing
    return {"prediction_this_node": np.mean(bootstrap_current_node[label_column_name])}

  # just like branching splits we use vectorized operations on the current node to get the data for the resulting left and right leaf nodes from the split
  # I suppose you could store these in the error dictionary from the best_branching_random_features from above
  left_node_data = bootstrap_current_node[bootstrap_current_node[feature] < split_point]

  right_node_data = bootstrap_current_node[bootstrap_current_node[feature] >= split_point]

  # this gets the size of the resulting split leaf nodes, left and right, from the lead node data sets, we get the sizes to check the leaf node sample sizes against the minimum
  left_sample_size = left_node_data.shape[0]
  right_sample_size = right_node_data.shape[0]

  # here we are checking if both the left and right resulting leaf node samples from splitting are greater than or equal to the minimum value parameter we have set
  # if either is less than the parameter threshold we do not do the node split and we return the node as a prediction node instead
  if left_sample_size < minimum_samples_per_leaf or right_sample_size < minimum_samples_per_leaf:
    return {"prediction_this_node": np.mean(bootstrap_current_node[label_column_name])}

 # these are our recrusive calls to this function, for the left nodes and right nodes, each time we increase the depth by 1 so we know if we need to stop the branching due to depth
 # these calls are what create the tree leaf structure below the root node which is created the first time we call this function
  left_leaf_node = dt_builder(left_node_data, label_column_name, num_randomized_features, minimum_samples_per_leaf, min_samples_per_split, max_depth, depth + 1)
  right_leaf_node = dt_builder(right_node_data, label_column_name, num_randomized_features, minimum_samples_per_leaf, min_samples_per_split, max_depth, depth + 1)

  # just like our tuple return from the in class version of this code, we return the feature, the split point, the left leaf node and right leaf node, in dictionary form instead of tuples
  return { "feature": feature, "split_point": split_point, "left_leaf_node": left_leaf_node, "right_leaf_node": right_leaf_node}
  # I had dynamic depth tracking in the key of the leaf nodes, but that was making tree navigation more difficult so I opted to remove it

In [ ]:
# so with the functionality of our decision tree builder and prediction recursive functions established, the random forest regressor and the aggregate prediciton functions are not too difficult
# we just need to create loops to build enough trees to become a forest of X size, and then traverse all of them to make predictions with the forest structure
# here we need to pass in all of the parameters that we need, the training data, label, number of tree to build, the num of random features and the bootstramp sample size which should match out training sample size

def random_forest_regressor_from_scratch(data, label_column_name, number_of_trees, num_randomized_features, bootstrap_sample_size):

  forest_of_trees_dict = {}

  # these 3 variables are the ones that we change to try and tune our trees which resulting in tuning the forest
  # I have been fiddling with these to get lower MSE's in our testing results
  # 8500 split values rounded up are 4250, 2125, 1063, 532, 266, 133, 67, 34, 17, 9, 5, 3, 2
  # at 13 splits we are getting leafs with very few samples
  # I was getting some of my best results at min samples 9, max depth 10 if I recall
  minimum_samples_per_leaf = 3
  min_samples_per_split = (minimum_samples_per_leaf * 2) + 1 # this is me rounding up when determining how many samples in the current node are needed to even try to split before testing leaf # samples
  max_depth = 7

  arguments_tuple = (data, label_column_name, num_randomized_features, bootstrap_sample_size, minimum_samples_per_leaf, min_samples_per_split, max_depth)

  for i in range(number_of_trees):
    arguments_tuple_list = [arguments_tuple]

  # with Pool() as pool:
  #   resulting_trees = pool.map(single_tree, arguments_tuple_list)

  with get_context("fork").Pool() as pool:
  # with Pool() as pool:
    resulting_trees = pool.map(single_tree, arguments_tuple_list)


  #build all the trees paramaterized
  for i, (tree, oob_indices) in enumerate(resulting_trees):

    # each tree gets its own bootstrap, everytime we call dt_builder we need a new bootstrap
    #dt_builder builds trees with randomized features at each node of the tree
    # then we store all of the OOB df indices to a list, you could store the whole dataframe, but when I access them later I only need the index values, so I am going to take only those now
    # you can use list(df indices) or the method that I used as .tolist() - I do remember seeing one comment on a website stating something about how list(df indices) might be safer or more reliable for some data structures? something to do with numpy I believe
    # we then store each tree in a  forest dictionary entry, the key is the tree number and the value is a tuple with value[0] = dictionary that is the tree itself, and value[1] is the array of indices of the oob values for the bootstrap sample used in building the tree

    forest_of_trees_dict[i] = (tree, oob_indices)

# then we return the forest dictionary
  return forest_of_trees_dict

In [ ]:
# creating a single test decision tree, min samples, min samples to even try to split is at least 2x the minimum samples per leaf
# I was trying to experiment with setting the min samples to consider splitting higher than 2x the min samples per leaf
# max depth of 10, https://www.geeksforgeeks.org/how-to-choose-ideal-decision-tree-depth-without-overfitting/
# in the link they are using a classifier model, so this may be irrelevant to a regression model
# but they test depths from 1-15 and their accuraccy seems to almost peak around a max depth of 7
# I have been testing between 3-12 and I seem to be getting the best results around 8-12 given the parameter of 4 randomly chosen features I have been using,
mcnair_data = data_sample_train.copy()
label_column_name = 'price'
num_randomized_features = int(np.sqrt((mcnair_data.shape[1]-1)))
minimum_samples_per_leaf = 12
min_samples_per_split = (minimum_samples_per_leaf * 2) + 1
max_depth = 10
bootstrap_sample_size = mcnair_data.shape[0]

In [ ]:
    X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap_current_node, all_oob = boot_strap_and_oob(data, label_column_name, bootstrap_sample_size)
    individual_tree_dict = dt_builder(bootstrap_current_node, label_column_name, num_randomized_features, minimum_samples_per_leaf, min_samples_per_split, max_depth, depth = 0)
    individual_tree_dict

In [ ]:
# demonstration of these functions working correctly, passing in the the training sample number of samples and retreiving all of the bootstrap & oob data frames
def main_test_bs(data, label_column_name):
  total_samples = data.shape[0]
  X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap, all_oob = boot_strap_and_oob(data, label_column_name, total_samples)
  return X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap, all_oob

In [ ]:
mcnair_data = data.copy()
label_column_name = 'income'

X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap, all_oob = main_test_bs(mcnair_data, label_column_name)

In [ ]:
bootstrap.drop_duplicates().sort_index()

In [ ]:
all_oob.drop_duplicates().sort_index()

Working on getting multiprocessing setup

In [ ]:
from mcnair_rf_classifier import imported_random_forest_classifier
from multiprocessing import Pool # multiprocessing but requires function to be in a .py file when working with jupyter?
from multiprocessing import get_context #older fork method not newer spawn, issues with this also, need to put functions in .py file maybe

# https://docs.python.org/3.10/library/multiprocessing.html
# https://stackoverflow.com/questions/72830743/multiprocessing-changed-in-python-3-9-from-3-7-on-macosx-how-to-fix
# https://machinelearningmastery.com/multiprocessing-in-python/
# https://medium.com/@dialoglk/boosting-performance-and-efficiency-exploring-the-advantages-of-multiprocessing-in-python-fd48202e1107
#

# def random_forest_regressor_from_scratch(data, label_column_name, number_of_trees, num_randomized_features, bootstrap_sample_size):

L

In [ ]:
# need to figure out Criterion for determining the best feature split (Gini impurity or Entropy)

In [ ]:
def predict_traversal(individual_tree, test_data):
# in the in class version with tuples and different data format, we can check if isinstance tree,float - which wouldn't work for multiple reasons in this assignment
# I have opted for the decision tree to be a dictionary format instead of a tuple, both are hard to read though
# instead of checking for a float, because I have set a key for when a node becomes a prediciton, we check for the key "prediction_this_node" each time we call this function, and when it finds this key it returns
# the prediction value that is associated with that node
  if "prediction_this_node" in individual_tree:
    return individual_tree["prediction_this_node"]

  # we need to pull the feature and split point values from each dictionary entry to traverse further down, once we have the feature and the split we can test the value of the feature of the sample datapoint against the split point
  # so we use the keys to get the values
  current_feature = individual_tree["feature"]
  current_split_point = individual_tree["split_point"]


  # if the value for this samples feature value is less than the split point we traverse to the left child node
  # if the value for this samples feature value is greater than or equal to the split point then we traverse to the right child node
  # this traversal will come to an end when we encounter the key indicating a prediciton node
  if test_data[current_feature] < current_split_point:
    return predict_traversal(individual_tree["left_leaf_node"], test_data) # go to the next left node
  else:
    return predict_traversal(individual_tree["right_leaf_node"], test_data) # go to the next right node

In [ ]:
def aggregate_prediction(forest_dict_trees, test_data):
  agg_sum = 0 # default prediction sum

  # here we iterate through the tree,oob value pairs in each of the decision trees in our forest dicitonary
  # tree index: tree-dict, oob array in the items list of our forest dictionary
  # for each entry/item/key:value pair we grab the tree in the value and we traverse it given our test_data sample that we pass into the aggregate_prediction function
  # so we call the individual tree prediction function for each each tree and use the same sample data for each tree as we want an aggregate prediction acrros all trees in the forest
  for tree_index, (individual_tree, oob_indices) in forest_dict_trees.items():
    value = predict_traversal(individual_tree, test_data) # traverse the tree and get a prediction
    agg_sum += value # we add the prediction to our sum of predicitons - we could also add each prediciton to a list and then use np.mean to get the avg, but I did a sum then divided by the num trees

  agg_prediction = agg_sum / len(forest_dict_trees) # we divide the sum of the predictions by the number of trees we have in our forest
  return agg_prediction

In [ ]:
# testing the forest
# determining the bootstrap sample size from the data passed into main, whereas num trees and num randomized features are currently being passed into main
# its likely better to have them set as variables within the function that calls the forest creator
def main3(data, number_of_trees, num_randomized_features):
  bootstrap_sample_size = data.shape[0]
  forest_dict_trees = random_forest_regressor_from_scratch(data, label_column_name, number_of_trees, num_randomized_features, bootstrap_sample_size)
  return forest_dict_trees

In [ ]:
# calling main to create the forest with num trees, the number of randomized functions
mcnair_data = data_sample_train.copy()
label_column_name = 'price'
num_randomized_features = int(np.sqrt((mcnair_data.shape[1])-1))
# 10 trees is quick ~ 2 mins, 100 is taking at least 20 minutes (150 was 32mins) but testing results started getting better
# I do not believe offloading this to cuda or metal will beat a cpu (I am not certain you even can), am I wrong about this? If this was a nueral network it would ofcourse be better
number_of_trees =  100 # ((mcnair_data.shape[1])-1) ** 2 # 17 ** 2 takes a while

forest_dict_trees = main3(mcnair_data, number_of_trees, number_of_random_features)

In [ ]:
mcnair_data.iloc[100]

In [ ]:
aggregate_prediction(forest_dict_trees, mcnair_data.iloc[100])

In [ ]:
# correct classifications / total classifications
# true positive + true negative / tp + tn + false pos +false neg
def accuracy (classifications):

In [ ]:
# how many predicted positive are correct - how many of the predicted positives were actually correct
# true positive / tp + false positives
# false positives are important then use this

def precision (classifications):

In [ ]:
# sensitivity - how many actual positives were found - true positives divided by all positives, false negatives are positives
# true positive / tp + false negatives
# when false negatives are important use this
def recall (classifications):

In [ ]:
# use for imbalanced datasets - balance between precision and recall

def f1_score (classifications):
    precision = precision (classifications)
    recall = recall (classifications)
    f1 = 2 * ( (precision * recall) / (precision + recall) )
    
    return precision, recall, f1