#

## Kelton McNair - 992018683
### CS 601 - Machine Learning
### Spring Semester Project 2025
### Dr. Afshar
### Random Forest Classifier
### Dataset: Adult

# Pre-Processing

In [1]:
# pip install ucimlrepo

# from ucimlrepo import fetch_ucirepo 
  
# # fetch dataset 
# adult = fetch_ucirepo(id=2) 
  
# # data (as pandas dataframes) 
# X = adult.data.features 
# y = adult.data.targets 
  
# # metadata 
# print(adult.metadata) 
  
# # variable information 
# print(adult.variables)

In [2]:
import numpy as np
from numpy.random import default_rng
rng = default_rng(1995)
import pandas as pd

# these were not implemented / used after all as I did not have the time to fully implement multiprocessing to speed up the tree building
from mcnair_rf_classifier import imported_random_forest_classifier
from multiprocessing import Pool # multiprocessing but requires function to be in a .py file when working with jupyter?
from multiprocessing import get_context #older fork method not newer spawn, issues with this also, need to put functions in .py file maybe


from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import confusion_matrix

In [3]:
data = pd.read_csv("adult/adult.data") #na_values didnt work
# read in the data as a dataframe, I tried na_values and na_filter but the missing values are not NA, null, etc...

In [4]:
# these are the columns names that I found in adult.names
extracted_col_names = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

In [5]:
data.columns = extracted_col_names
# adding the column names to the dataframe

In [6]:
data.sample(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
6214,23,Private,260254,HS-grad,9,Never-married,Sales,Own-child,White,Male,0,0,40,United-States,<=50K
12349,32,Private,117779,HS-grad,9,Never-married,Transport-moving,Own-child,White,Female,0,0,35,United-States,<=50K
31068,26,Private,226196,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,40,United-States,<=50K

In [7]:
data.isnull()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32556,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32557,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32558,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32559,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [9]:
# we are not seeing any NA values or missing values, but if we check value counts below, we see that there are values with a ? as the value
data.isna().any()

age               False
workclass         False
fnlwgt            False
education         False
education-num     False
marital-status    False
occupation        False
relationship      False
race              False
sex               False
capital-gain      False
capital-loss      False
hours-per-week    False
native-country    False
income            False
dtype: bool

In [10]:
# for every column in the dataframe we print the value counts for that column
# we can see that there aren't any values that are NA/NULL but there are what I am guessing are missing values, represented by a '?'.
for col in data.columns:
    print(data[col].value_counts())

age
36    898
31    888
34    886
23    877
35    876
     ...
83      6
88      3
85      3
86      1
87      1
Name: count, Length: 73, dtype: int64
workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1297
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64
fnlwgt
164190    13
203488    13
123011    13
148995    12
126675    12
          ..
325573     1
140176     1
318264     1
329205     1
257302     1
Name: count, Length: 21647, dtype: int64
education
HS-grad         10501
Some-college     7291
Bachelors        5354
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64
education-num
9     10501
10     7291
13     5354
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: count, dtype: int64
marital-status
Married-civ-spouse       14976
Never-married            10682
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3769
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64
relationship
Husband           13193
Not-in-family      8304
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: count, dtype: int64
race
White                 27815
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64
sex
Male      21789
Female    10771
Name: count, dtype: int64
capital-gain
0        29849
15024      347
7688       284
7298       246
99999      159
         ...
1111         1
2538         1
22040        1
4931         1
5060         1
Name: count, Length: 119, dtype: int64
capital-loss
0       31041
1902      202
1977      168
1887      159
1848       51
        ...
2080        1
1539        1
1844        1
2489        1
1411        1
Name: count, Length: 92, dtype: int64
hours-per-week
40    15216
50     2819
45     1824
60     1475
35     1297
      ...
82        1
94        1
92        1
74        1
87        1
Name: count, Length: 94, dtype: int64
native-country
United-States                 29169
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64
income
<=50K    24719
>50K      7841
Name: count, dtype: int64

In [11]:
cols_categorical = [] # we use this in about 15 cells

# for every feature column we get the datatype of each column as we iterate through
# then I check if the column datatype is int64 or float 64, ie numerical, and if it is not numerical
# then we append those columns to our categorical columns list and we strip empty space from the category values
# (the missing values had leading or trailing whitespace) 
for col in data.columns:
    current_data_type = data[col].dtype 
    print(col,'-',current_data_type)
    if current_data_type != 'int64' and current_data_type != 'float64':
        cols_categorical.append(col)
        data[col] = data[col].str.strip()

age - int64
workclass - object
fnlwgt - int64
education - object
education-num - int64
marital-status - object
occupation - object
relationship - object
race - object
sex - object
capital-gain - int64
capital-loss - int64
hours-per-week - int64
native-country - object
income - object

In [12]:
# I had to strip the empty space from the categorical column values because this lambda function searching for ? wasn't working
# until I striped the whitespace

# this lambda function we use to get the sum of all '?' by category, we can technically see these values above in value counts
# we apply this col == ? on each col of the dataframe, returning a series with the original column names as the indices
# and a sum of the boolean 1 counts from the col == ? expression
question_marks = data.apply(lambda col: (col == '?').sum())

print (question_marks)

# we see that there are anywhere between 1836 and 1836+1843+583 total samples with a ?
# given that we are encoding with oneHot / dummy encoding, can you leave a ?, will be encoded into its own category bucket?
# or in this situation is it better to try and apply a "nearby" or similar value for these samples categories through something like knn/clustering/other method?

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [13]:
cols_categorical

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country',
 'income']

In [14]:
# rechecking value counts, whitespace stripping worked
# for col in data.columns:
#     print(data[col].value_counts())

In [15]:
# if rows with missing values are > x% we need to do something with them
# if rows with missing values are <x% we can drop them
# what is x?
# what do we do with those rows if %>x? 



# here we create an array to hold indices for rows with ? values
rows_with_question = []

for index, sample in data.iterrows(): # iterate through the indices - samples/rows of our dataframe via iterrows (ittertupples, .items, etc.. are options)
    if "?" in sample.values: # as we iterate over each sample, we check if any of the values of that sample are a ?
        rows_with_question.append(index) # if they are, then we append the index to our list
print("# of samples with missing values as a '?':",len(rows_with_question))

# of samples with missing values as a '?': 2399

In [16]:
len(rows_with_question) / data.shape[0] # 7.368% of our samples have a missing value denoted with ?

0.07367936117936118

In [17]:
# With only 7.36% of the samples having a missing value, we will just drop those
# The dataset currently isn't balanced in the target / label feature column 
# =<50k income has roughly 3x the number of samples than >50k income
# But we can select a balanced mix of either during bootstraping to combat this
# resulting in bootstraps over 10k values still, and we will get a lot of variance in the =<50k bootstraps between trees because there will be more to choose from
# if all 7.5% of the samples were in the lower sample count category of your label, it may be worth considering value replacement for them
# this would be important if you didn't have enough samples in that lesser value count label category

In [18]:
cleaned_Data = data.drop(index=rows_with_question) # here we drop the samples from our dataframe that we gathered in which contain a ? value
# and we initialize this as cleaned_Data

# running value counts shows the ? value categories are now gone
# for col in cleaned_Data.columns:
#     print(cleaned_Data[col].value_counts())

In [19]:
question_marks_cleaned = cleaned_Data.apply(lambda col: (col == '?').sum())
# here we apply our lambda function again to our new dataframe of cleaned_Data
# we see below that there are no more ? values in any of our features
print (question_marks_cleaned)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [20]:
encoding_data = cleaned_Data.copy() # make a copy of our cleaned data, creating a new data frame for our categorical encoding
encoding_data.head(14) # our first removed sample was at index 13

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K

In [21]:
# I tried implementing mapping but I did not get it entirely correct and I was having NaN values
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.at.html

# we also needing to strip all whitespace from category values for this binary encoding

# manual binary encoding for just the two categories of the label
# here we iterate through each index - sample in our dataframe 
for index, sample in encoding_data.iterrows():
    # if the samples income value is >50k then we change that value to a 1
    if sample['income'] == '>50K':
        encoding_data.at[index, 'income'] = 1
    # if the income value is isntead <=50k then we change that value to a 0
    elif sample['income'] == '<=50K':
        encoding_data.at[index, 'income'] = 0
    # we need to change the datatype to int for the column now that all the values are now all numerical binary values
encoding_data['income'] = encoding_data['income'].astype(int)

In [22]:
encoding_data["income"].isna().sum()  # all samples have a value

np.int64(0)

In [23]:
encoding_data['income']

0        0
1        0
2        0
3        0
4        0
        ..
32555    0
32556    1
32557    0
32558    0
32559    1
Name: income, Length: 30161, dtype: int64

In [24]:
encoding_data['income'].value_counts()

income
0    22653
1     7508
Name: count, dtype: int64

In [25]:
cleaned_Data['income'].value_counts()
# we see that the value coutns align so our encoding was successful

income
<=50K    22653
>50K      7508
Name: count, dtype: int64

In [26]:
sklearn_data = encoding_data.copy() # here we make a copy of our data at this point for one of our two sklearn implementations below

In [27]:
# this encoding worked as the income categories were assigned the correct binary values
# I checked with encoding_data.tail() and cleaned_Data.tail() and the values align with our new encoded income feature column

In [28]:
# create a vector for each sample for that categorical value
# fill it with zeros, and then append a 1 if for the categorical value the samples value was equal to that column value, if not leave the zero
# This was an implementation I had done before in pytorch but it wasn't the best approach here, so I am going with something different


# not sure if we can use sklearn encoding or pandas dummy encoding
# I am not sure one hot is the best for this because of the added features making the # of features more sparse, icnrease from 15 to 105 features
# But I know that one-hot is the most common encoding even with making features sparse and it is typically used unless categories are ordinal


# here is my implementation of one_hot encoding
def one_hot (encoding_data, current_col):
    replacement_one_hot_cols = pd.DataFrame(index = encoding_data.index) # create a dataframe with the indices from our existing dataframe

    categories = encoding_data[current_col].unique() # np array of unique values in the current column 
    
    for category in categories: # for each unique category in our array of categories
        print(current_col, "-", category) # I print our each unique category in our array of categories, original col + the unique category ( our new category names will have a similar structure)
        new_col_name = f"{current_col}_{category}" # new col name is a format string of the original col name _ the value category
        replacement_one_hot_cols[new_col_name] = (encoding_data[current_col] == category).astype(int) 
        # we create a new col with the new_col_name as the feature name
        # for the value we compare values of our encoding_data[current_col] with the current unique category we are accessing
        # for each sample with a value = to the unique category we are currently creating a new column for
        # then we assign a 1 to that sample in our new column, if it does not match our current category 
        # then we assign a 0
        
    return replacement_one_hot_cols #return the new col to add to the dataframe
    # with this encoding method, we create a new col for each unique category in the column we pass in
    # the binary values of each new column need to correspond to the original categorical value
    # so for col sex, there are 2 unique categories in our dataset, male and female
    # when we create the new col sex_male, we should assign 1's to the samples that used to have male as the categorical value and 0 to the samples
    # that had female as the original categorical value 
    # then when we create sex_female, all of the samples whos original samples were female will be assigned a 1 and male will get a 0 in this new column

    # we call this function for each categorical feature column of our existing dataframe, we return one new column for each unique category in the 
    # feature column with a format string name, and binary values that correspond to the new col and the original value

In [29]:
# for each col in our current working dataframe
for col in encoding_data.columns:
    current_data_type = encoding_data[col].dtype # determine the datatype of each column, like we did above
    if current_data_type != 'int64' and current_data_type != 'float64': # if it is not a numerical feature column 
        add_these = one_hot(encoding_data, col) # create a new set of feature columns for each categorical value in this categorical feature col

        # before we move to the next column we concatenate our new binary columns that represent each category in our categorical feature column
        # with the starting dataframe, encoding_data
        encoding_data = pd.concat([encoding_data, add_these], axis = 1) # make it remove the current col and add the news ones in the same place?

workclass - Self-emp-not-inc
workclass - Private
workclass - State-gov
workclass - Federal-gov
workclass - Local-gov
workclass - Self-emp-inc
workclass - Without-pay
education - Bachelors
education - HS-grad
education - 11th
education - Masters
education - 9th
education - Some-college
education - Assoc-acdm
education - 7th-8th
education - Doctorate
education - Assoc-voc
education - Prof-school
education - 5th-6th
education - 10th
education - Preschool
education - 12th
education - 1st-4th
marital-status - Married-civ-spouse
marital-status - Divorced
marital-status - Married-spouse-absent
marital-status - Never-married
marital-status - Separated
marital-status - Married-AF-spouse
marital-status - Widowed
occupation - Exec-managerial
occupation - Handlers-cleaners
occupation - Prof-specialty
occupation - Other-service
occupation - Adm-clerical
occupation - Sales
occupation - Transport-moving
occupation - Farming-fishing
occupation - Machine-op-inspct
occupation - Tech-support
occupation - Craft-repair
occupation - Protective-serv
occupation - Armed-Forces
occupation - Priv-house-serv
relationship - Husband
relationship - Not-in-family
relationship - Wife
relationship - Own-child
relationship - Unmarried
relationship - Other-relative
race - White
race - Black
race - Asian-Pac-Islander
race - Amer-Indian-Eskimo
race - Other
sex - Male
sex - Female
native-country - United-States
native-country - Cuba
native-country - Jamaica
native-country - India
native-country - Mexico
native-country - Puerto-Rico
native-country - Honduras
native-country - England
native-country - Canada
native-country - Germany
native-country - Iran
native-country - Philippines
native-country - Poland
native-country - Columbia
native-country - Cambodia
native-country - Thailand
native-country - Ecuador
native-country - Laos
native-country - Taiwan
native-country - Haiti
native-country - Portugal
native-country - Dominican-Republic
native-country - El-Salvador
native-country - France
native-country - Guatemala
native-country - Italy
native-country - China
native-country - South
native-country - Japan
native-country - Yugoslavia
native-country - Peru
native-country - Outlying-US(Guam-USVI-etc)
native-country - Scotland
native-country - Trinadad&Tobago
native-country - Greece
native-country - Nicaragua
native-country - Vietnam
native-country - Hong
native-country - Ireland
native-country - Hungary
native-country - Holand-Netherlands

In [30]:

label_column_name = 'income'
cols_categorical.remove(label_column_name)
# remove 'income', our label column from our list of categorical columns
# it was changed to a numerical column and no longer belongs in the list of categorical columns

In [31]:
encoding_data = encoding_data.drop(cols_categorical, axis=1) # then we drop all of the original categorical columns from our dataframe
# now that each category from each categorical feature column is now represented by its own binary numerical col

In [32]:
# for col in encoding_data.columns:
#     print(encoding_data[col].value_counts())
# we can see the new value counts of our now 105 col dataframe

In [33]:
# for col in encoding_data.columns:
#     current_data_type = encoding_data[col].dtype
#     print(col,':',current_data_type)

# this was to specfically print our all the names of our new dataframe cols and the associated column datatype to make sure all categorical
# columns were removed and all of the new columns are numerical

In [34]:
encoding_data.shape[1]

105

In [35]:
encoding_data.tail()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Self-emp-not-inc,workclass_Private,workclass_State-gov,...,native-country_Outlying-US(Guam-USVI-etc),native-country_Scotland,native-country_Trinadad&Tobago,native-country_Greece,native-country_Nicaragua,native-country_Vietnam,native-country_Hong,native-country_Ireland,native-country_Hungary,native-country_Holand-Netherlands
32555,27,257302,12,0,0,38,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
32556,40,154374,9,0,0,40,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
32557,58,151910,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
32558,22,201490,9,0,0,20,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
32559,52,287927,9,15024,0,40,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
#22653 less than 50k
#7508 more than 50k - 
# here is my implementation of train_test split



# we need to pass in our default rng, the data we want split into training and testing datasets, the percentage of the data to preserve for testing
# and the label column name to make sure we take a balanced percentage of samples from each of label values
def kelton_train_test_split (data, label_column_name, rng, test_size = 0.3):

    # here we apply a boolean mask to the dataframe that we pass in to find specific sample values
    # label_true is a dataframe resulting from applying a mask to our original dataframe and retreiving only the samples whos 
    # label_column_name value is equal to 1 which is the binary value for >50k income
    # label false is then a dataframe of samples where the income col is 0 or <=50k income
    label_true = data[data[label_column_name] == 1]#.reset_index(drop=True)
    label_false = data[data[label_column_name] == 0]#.reset_index(drop=True)

    # these are variables to limit the amount of samples that we take from each dataframe that
    # hold the respective samples of income >50k and income <=50k
    # we want to take 30% of the each of the datasets for our testing dataset and leave 70% for testing
    # this is to stratify the samples that we take from each label class to make sure testing and training percentages are balanced by %
    test_sample_size_true = int(test_size * len(label_true)) # test size is a float, evaluate what test_size proportion of each dataframe is
    test_sample_size_false = int(test_size * len(label_false)) # each dataframe holds a different class of label values


    # here we need to randomly choose 30% or whatever % of each of our label class dataframe samples without replacement, we don't want duplicates
    # rng.choice(choosing a position from len(label_true or label_false), # of samples to randomly choose, no replacement)
    # with rng.choice we need to use iloc not loc because with loc we would need to reset the indicies above for each of our class specific dataframes
    # in my implementation I use .iloc as it doesn't require the exact index but whatever number is generated from 0 to len(label_true/false)
    # it gets the iloc will retrieve the positional sample in the dataframe whereas .loc would try to access the sample at that index
    # so for both the true and false label class dataframes we use our test sample size variables to then randomly select that many samples
    # from each class label dataframe, this makes sure we have randomly chosen a stratified sample from our original dataset for our testing set
    test_true_label = label_true.iloc[rng.choice(len(label_true), test_sample_size_true, replace = False)]
    test_false_label = label_false.iloc[rng.choice(len(label_false), test_sample_size_false, replace = False)]

    # this is simpler, now that we have randomly chosen out a test_size proportion of our dataset for testing, we simply need to the
    # indices from the resulting testing dataframes from our label class datadrames which will leave us with the remaining samples for training
    train_true_label = label_true.drop(test_true_label.index) # drop label class 1 test indices- resulting can be used for training
    train_false_label = label_false.drop(test_false_label.index) # drop label class 0 test indices

    # https://www.geeksforgeeks.org/pandas-how-to-shuffle-a-dataframe-rows/
    # this should shuffle and then reset indices
    # to get our train and test datasets now we need to concat the two label class dataframes for each testing and training back together

    #.sample(frac=1) should shuffle the data and return 100% of it, then we reset the indices of each 
    train_data = pd.concat([train_true_label, train_false_label]).sample(frac = 1).reset_index(drop=True)
    test_data = pd.concat([test_true_label, test_false_label]).sample(frac = 1).reset_index(drop=True)

    # I believe you can use .sample as another method for randomly selecting samples from a dataframe as it also has a replace = true/false parameter
    return train_data, test_data # return both the training and testing datasets for our model
    
# data_sample = data.sample(n=10000, random_state=student_number_last_four_digits).reset_index(drop=True)
# your code from assignment 1

In [37]:
train_data, test_data = kelton_train_test_split (encoding_data, 'income' , rng, test_size = 0.3) 
# here we pass in our data, the label column name, our rng from default.rng that we initialize with our imports ( I set my to 1995) and 
# we can declare the % of data to allot to our testing dataset, I chose 30%
train_data.tail(5)

# check value counts for our new training only dataframe training set
# for col in train_data.columns:
#     print(train_data[col].value_counts())

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Self-emp-not-inc,workclass_Private,workclass_State-gov,...,native-country_Outlying-US(Guam-USVI-etc),native-country_Scotland,native-country_Trinadad&Tobago,native-country_Greece,native-country_Nicaragua,native-country_Vietnam,native-country_Hong,native-country_Ireland,native-country_Hungary,native-country_Holand-Netherlands
21109,43,147110,10,0,0,48,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21110,50,190333,15,99999,0,55,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21111,27,46868,13,0,0,15,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21112,45,285335,4,0,0,10,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21113,74,39890,10,0,0,18,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
test_data.tail(5)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Self-emp-not-inc,workclass_Private,workclass_State-gov,...,native-country_Outlying-US(Guam-USVI-etc),native-country_Scotland,native-country_Trinadad&Tobago,native-country_Greece,native-country_Nicaragua,native-country_Vietnam,native-country_Hong,native-country_Ireland,native-country_Hungary,native-country_Holand-Netherlands
9042,20,34706,10,0,0,47,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9043,41,118853,10,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9044,18,362600,3,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9045,45,151627,10,0,0,45,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9046,37,179731,9,0,0,35,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

# Lab 1/2 Code & Changes for RF Classifier From Scratch

In [39]:
#Assignment 2 function
# I am calculating how many times I can "perfectly" divide a node to stay above a certain number of leaf node samples
# this will tell us with a given min_lead_node_samples what our max depth would be for that number of min leaf samples

def sample_information (num_samples):
    depth_counter = 0
    resulting = 3 # this results in a min leaf node of 3 for this current data
    # to make it stay above 5, or any x number declared, I would need to keep track of the previous iteration in the while loop
    # because it doesn't check the condition until after the division has already occured
    calcd_resulting = num_samples
    while (calcd_resulting > resulting):
        depth_counter+=1
        calcd_resulting = np.ceil(calcd_resulting / 2) #int division "//" would do floor

    return depth_counter, calcd_resulting



#hyper parameters
label_col_name = 'income'
num_trees_in_forest = 111
num_random_features = int(np.ceil(np.sqrt(train_data.shape[1]) * 2)) # we had a very large feature increase from one-hot / dummy encoding
# I know it is common to use sqrt or log2 the number of features, I am testing with using more as the featureset is more sparse now



depth_threshold, split_leaf_minimum = sample_information(train_data.shape[0]) # 
split_node_min_samples = (split_leaf_minimum * 2) + 1 # you need at least 2x the leaf_node_samples in the parent node to split and
# and maintain the minimum samples in the leaf



print(depth_threshold, split_leaf_minimum, split_node_min_samples)
# i think i read 6-7 depth is a lot

# how many combinations of num random features are possible, so how many times within the num trees in forest will there be duplicates?
# how many duplicates would be good mathematically or are any good at all?
# 105 choose 21 is 6.3864156e+21, so what % of this do we want for num trees in forest? 
# the likelhood you get two of the same trees in a forest is low and would require an astronomical number of trees

#with these settings, we could "perfectly" split 13 times down to a depth of 13 and a resulting leaf nodes of 3, I won't make the tree depth that deep

13 3.0 7.0

In [40]:
# In this function I am taking in the training dataset, the label and the total number of train samples
# for each training sample in the dataset we randomly grab a row from the training dataset to create our bootstrap dataset
# so in our case we have a training dataset of 8500, so we create a bootstrap that has 8500 samples from our original train dataset
# we get indices to pull from the training set randomly by generating a random # from 0 to 8499 and adding that row to our array
# once we have created our array of samples from the rows of the training dataset, we create the bootstrap dataset from our array of rows
# this method will allow duplicates, and with this many samples we should end up with roughly 65% of the train dataset in our bootstrap
# then we seperate the label column from the X_bootstrap resulting in just the training data with no label
# then y_bootstrap is just the labels column, but all of the indices match up


# -------- new ----------
# now I need to make sure that we are taking a balanced sample from the training datatset
# in my dataset we have 3x more 0's in the label feature than 1's
# so total samples needs to be for each category, so len(income == 1) samples
# take that many samples with a 1 and that many samples with a 0 as the income category
def bootstrap_creator(this_tree_data, label_column_name):

  # -------- new ----------
  # classifier specific balancing
  # we need to make sure that we take a balanced sample for each bootstrap, we want to train with a similar number of label classes
  # so again we split the dataframe into one for each label class
  category_label_0 = this_tree_data[this_tree_data[label_column_name] == 0]
  category_label_1 = this_tree_data[this_tree_data[label_column_name] == 1]


  # this variable finds which label class dataframe has the least number of samples
  # by calculating this minimum we know how many samples we want to choose from each label dataframe
  samples_from_each = min(len(category_label_0), len(category_label_1))
  # in my dataset label 1 is roughly 1/3 the size of label 0
  # so to follow bootstrapping methodology we want to randomly sample the len(category_label_1) from each of the label class dataframes)
  # so if the lesser dataframe had 3000 samples, we would sample 3000 from both, so that we are training with a 50/50 split of class labels
  # we have ~21000 train samples, but we don't randomly select 21000 because it would be highly imbalanced
  # so we sample len(category_label_1) from each each label class dataframe and that should result in the same bootstrapping methodology that 
  # would be used in a regression model
  # We are going to get even more varied samples between each decision tree for our label_0 samples
  # I contemplated pulling out a sample the size of category_label_1 from label_0 and only using that for bootstrapping
  # but I believe that with our training set balancing and and the very varied label 0 samples per tree, that should make the training data more sparse
  # which is better and will help with overfitting, whereas it will be more of a problem with our samples for category_label_1
    
  bootstrap_for_this_tree = [] # holder array for the bootstrap

  negative_samples_this_bootstrap = category_label_0.sample(samples_from_each, replace = True)  # here we use .sample to randomly select our bootstraps
    # instead of rng.choice or the method we used in assignment 2 by randomly generating indices
    # with .sample() we set replace to true as duplicates are allowed in bootstraping and we sample samples_from_each as a hyperparameter 
    # because that is the size of our lesser category_label_dataframe
  positive_samples_this_bootstrap = category_label_1.sample(samples_from_each, replace = True) 

    #would the opposite methodology be bad? if we took the max and then oversampled category_label_1 / the lesser label_class amount up to the amount 
    # in the of samples in the larger label class 
    
    # here we concat the two different samples that we drew from the training dataset to pass to our dt builder and feature split selector
  bootstrap = pd.concat([positive_samples_this_bootstrap, negative_samples_this_bootstrap], axis = 0)
    
    # generate X and Y bootstraps from bootstrap
  X_bootstrap = bootstrap.drop(label_column_name, axis=1)
  y_bootstrap = bootstrap[label_column_name]

  return X_bootstrap, y_bootstrap, bootstrap

In [41]:
# I did not need to edit this function from assingment 2 as nothing here changed

# this function is used to calculate the rows from the training dataset that did not make it into this bootstrap dataset
# we pass in the label, the training dataset and the randomly selected bootstrap dataset
# with a dataframe this is a bit simpler than with the all integer numpy array from the class example
# here we can simply drop all of the indices (rows) that exist in the bootstrap data set from the training data set and we are left with the out of box sample set
# I didn't need to copy the dataframe, I find myself doing this somewhat often when I am working with dataframes to maintain the last version of them
# I want to say I picked up this habit during my AI course but I don't remember why exactly, I think it had to do with model evaluations
# then to find the data frames for X_oob and y_oob we simply drop the label from our total oob dataframe for X and pull out only the label column for our y

def oob_determination(tree_data, bootstrap, label_column_name):

    # drop bootstrap rows from the total tree training data set to be left with a dataframe of only the none-selected training samples
  oob_for_this_tree = tree_data.drop(index=bootstrap.index) # drop all the indices from the tree dataset/ training dataset that exist within the bootstrap for this specific tree

    # copy oob_for_this_tree incase we need to pass it as a return later
  all_oob_this_tree = oob_for_this_tree.copy()

    # make the X-oob and y_oob respective dataframes
  X_oob = oob_for_this_tree.drop(label_column_name, axis=1)
  y_oob = oob_for_this_tree[label_column_name]

  return X_oob, y_oob, all_oob_this_tree

In [42]:
# I did not need to edit this function from assingment 2 as nothing here changed

#this function calls the bootstrap creation function and then passes the bootstrap dataset into oob to return the oob values
# meaning bootstrap + oob below make up the entirety of the 8500 data samples within sample_data_train without any overlap
# and this function just returns the output of both lumped together
def boot_strap_and_oob(tree_data, label_column_name):
  X_bootstrap, y_bootstrap, bootstrap = bootstrap_creator(tree_data, label_column_name)
  X_oob, y_oob, all_oob = oob_determination(tree_data, bootstrap, label_column_name)

  return X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap, all_oob

In [43]:
# demonstration of these functions working correctly with the new sampling method, passing in the the training dataset and retreiving all of the bootstrap & oob data frames
def main(data, label_column_name):
  X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap, all_oob = boot_strap_and_oob(data, label_column_name)
  return X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap, all_oob

In [44]:
X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap, all_oob = main(train_data, label_column_name)

In [45]:
bootstrap.shape

(10512, 105)

In [46]:
bootstrap.sort_index()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Self-emp-not-inc,workclass_Private,workclass_State-gov,...,native-country_Outlying-US(Guam-USVI-etc),native-country_Scotland,native-country_Trinadad&Tobago,native-country_Greece,native-country_Nicaragua,native-country_Vietnam,native-country_Hong,native-country_Ireland,native-country_Hungary,native-country_Holand-Netherlands
2,25,316688,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,37,32668,13,0,0,43,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,37,32668,13,0,0,43,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,37,32668,13,0,0,43,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,20,216436,13,0,0,30,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21103,51,311569,9,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21107,54,235693,7,0,0,40,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21109,43,147110,10,0,0,48,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21110,50,190333,15,99999,0,55,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21110,50,190333,15,99999,0,55,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
bootstrap.drop_duplicates().sort_index()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Self-emp-not-inc,workclass_Private,workclass_State-gov,...,native-country_Outlying-US(Guam-USVI-etc),native-country_Scotland,native-country_Trinadad&Tobago,native-country_Greece,native-country_Nicaragua,native-country_Vietnam,native-country_Hong,native-country_Ireland,native-country_Hungary,native-country_Holand-Netherlands
2,25,316688,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,37,32668,13,0,0,43,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,20,216436,13,0,0,30,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8,43,147328,14,0,1977,60,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,36,171676,13,0,1741,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21099,37,196529,14,0,0,45,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21103,51,311569,9,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21107,54,235693,7,0,0,40,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21109,43,147110,10,0,0,48,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21110,50,190333,15,99999,0,55,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
all_oob.drop_duplicates().sort_index()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Self-emp-not-inc,workclass_Private,workclass_State-gov,...,native-country_Outlying-US(Guam-USVI-etc),native-country_Scotland,native-country_Trinadad&Tobago,native-country_Greece,native-country_Nicaragua,native-country_Vietnam,native-country_Hong,native-country_Ireland,native-country_Hungary,native-country_Holand-Netherlands
0,49,43348,16,99999,0,70,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,52,234286,9,15024,0,40,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,31,144064,10,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,20,148294,10,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,32,236543,8,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21106,23,176486,10,0,0,25,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21108,47,256866,9,0,0,48,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21111,27,46868,13,0,0,15,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21112,45,285335,4,0,0,10,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21113,74,39890,10,0,0,18,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
# above we can see that oob and bootstrap do not share the same samples

In [50]:
# I did not need to edit this function from assingment 1/2 as nothing here changed


# this is the split point function that we developed in class and used in assignment 1
# when we call it in our program we are iterating through a series of values to determine all splitpoints for the feature

def split_point_finder(x):
  mid_points_in_column = []
  x_sorted = sorted(x)

  for i in range(0, len(x)-1):
    mid_point = ( (x_sorted[i] + x_sorted[i+1]) / 2)
    mid_points_in_column.append(mid_point)
  return mid_points_in_column



# x here is a single column, we create a list to store the midpoints (len column -1 values)
# we sort that column, and for every value from 0 to len -1 we take the average of the current column value and the next
# we append these midpoints to the list and return that list, giving us a list of midpoints per column

In [51]:
# I did not need to edit this function from assingment 1/2 as nothing here changed


# this is the left and right node function we developed in class and used in assignment 1
# we use this to find the x-y pairs that will go to the left and ride nodes given a certain split point, we test all unique split points with this later

def branching_splits(x, y, split_point):
  mask = x >= split_point
  anti_mask = x < split_point
  x_right = x[mask]
  x_left = x[anti_mask]
  y_right = y[mask]
  y_left = y[anti_mask]
  return x_right, x_left, y_right, y_left


# here we pass in the feature column, the label column and the split point we are using
# the mask applies filter values greater or equal to the split point
# the anti mask is values less than the split point
# we then create true/false or right/left lists of the feature column and the label column with the mask filtering
# we return the the true/false or right/left list of the feature column and the corresponding label column

In [52]:
#gini - 1 - summation of proportion of samples in the node that belong to class i, i represents the number of classes ( so for binary it is 0 and 1, 2 classes)
def Gini(count_series, samples):
    return 1 - sum( ((count / samples) ** 2) for count in count_series)
    # here we pass in a series of value counts and the samples in the node
    # for each value_count (0 or 1 in my case) in the series ( inreasing the i / summation) 
    # we calculate the proportion of samples in each class squared and sum them
    # then we subtract them from 1 after they have been summed
    # This calculates the likelhood of a given classificaiton given the samples, we calculate the likelihood of correctness for classification
    # as both 0 and 1 in my dataset. if gini is 0 thats pure, meaning the prediciton would always be correct

In [53]:
#entropy - negative summation of proportion of samples in the node that belong to class i * log2 proportion of the samples in the node that belong to class i
def Entropy(count_series, samples):
    return -sum( ((count / samples) * np.log2((count / samples))) for count in count_series)

    # this methodology is similar to gini but with a different equation, we pass in a series of value counts for the class proportions int eh node
    # instead of squaring the proportions we do the proportion * log2(proportion), sum them for each class i and then take the inverse of that summation
    # the lower the entropy the better- and the larger informationg ain the better :root_entropy - child entropy  = information gain

In [54]:
def weighted_Entropy(y, y_right, y_left):
    # here we need the number of samples in the root and each child node
    num_samples_root = len(y)
    num_samples_left_child = len(y_left)
    num_samples_right_child = len(y_right)

    root_entropy = Entropy( y.value_counts(), num_samples_root) # calculate the root node entropy with the class value counts and the num samples

    left_child_entropy = Entropy( y_left.value_counts(), num_samples_left_child) # calculate the left child entropy with the class value counts of the left child
    # and the num samples in the left child

    right_child_entropy = Entropy ( y_right.value_counts(), num_samples_right_child)# calculate the rightchild entropy with the class value counts of the right child
    # and the num samples in the right child

    weighted_nodes_entropy = (num_samples_left_child / num_samples_root) * left_child_entropy + (num_samples_right_child / num_samples_root) * right_child_entropy
    # the weighted entropy is given by taking the proportion of samples the left child entropy represents and adding it 
    # to the portion of samples the right child entropy represents num_sample_child / root samples = proportion

    return root_entropy, weighted_nodes_entropy
    # here I do not need to pass the information gain as the function that determines the best split will choose the lowest weighted entropy, which would also have the highest information gain

In [55]:
# here we calculate the node Gini impurity and the weighted leaf/children node impurities

def weighted_Gini(y, y_right, y_left):
    # value counts for the parent node and the number of samples in the parent and each child
    y_counts = y.value_counts()
    num_samples_root = len(y)
    num_samples_left_child = len(y_left)
    num_samples_right_child = len(y_right)

    root_gini = Gini( y.value_counts(),  num_samples_root) # root node gini pass in the root node value counts and the number of total samples

    left_child_gini = Gini( y_left.value_counts(), num_samples_left_child) # left child value counts and the num samples

    right_child_gini = Gini ( y_right.value_counts(), num_samples_right_child)# right child value counts and the num samples

    weighted_nodes_gini = (num_samples_left_child / num_samples_root) * left_child_gini + (num_samples_right_child / num_samples_root) * right_child_gini
    # to calculate the weighted gini between the child nodes we add the left child gini * leftchild samples / root samples with the right child gini + rightchild samples / root samples
    # this weights the two gini scores of the children nodes relative to the number of samples they have

    return root_gini, weighted_nodes_gini

In [56]:
# this function is pulled from assignment 1 and has a few slight modifications
# this functions purpose is to find the best split point and feature at each node of the decision tree
# it then returns the feature, split point, root node mse, branching leaf node weighted mse and the dictionary of all errors for the features tested

# what we have modified in this code is the ability to randomly select features at each node of the tree, a subset of the total training dataset features
# we do this by taking num_random_features_to_choose making it a parameter that can be adjusted in our decision tree creation function
# we specify the number of features we want to randomly choose, then before we begin looping for the feautures looking for the best feature / split point
# we randomly select from our total features in the dataset columns the parameter number of features to test for the splitting at this node
# so if we have a parameter of 5 and 17 feature columns in our dataframe, we randomly choose 5 of those 17 with duplicates not being allowed
# from there the function works the same way as assignment 1 where we determine the best split point and feature from those we test to determine the best splitting for this node

# we pass in the bootstrap data to this function not the total training dataset
def best_branching_random_features(data, label_column_name, num_random_features_to_choose, criterion_equation): 

  y = data[label_column_name]
  possible_features_to_test = data.drop(label_column_name, axis=1) # drop the label column from the dataframe so only features are left

  randomized_features_this_node = rng.choice(possible_features_to_test.columns, num_random_features_to_choose, replace = False)
  # we use rng.choice to randomly choose (parameter number of features) from (all feature columns that are present in the dataframe) and don't allow duplicates

  this_node_data = possible_features_to_test[randomized_features_this_node].copy() # then we create a new dataframe only copying the feature columns selected by our random feature selector above
  # we get a smaller dataframe with only the number of features declared in the function parameter

  feature_error_dictionary = {}

  # In assignment 1 we wouldn't have ran into these errors, but I ran into an error for each of these variables not being initialized
  # min error should be set to inf, anythign smaller will replace it
  minimum_error = float('inf')

  # these 3 can create errors further down our decision tree building if no split points are found to reduce the minimum error, if they arent initialized now and we go to return them
  # then we get the errors I pasted in below - if your testing a split with only has 100 samples and for a feature they are all the same value, then no split point exists and these
  # values would be left un-initialized given our structure below
  root_impurity = float('inf')
  best_feature = 'Kelton'
  best_split_point_current_feature = 992018683
  #UnboundLocalError: cannot access local variable 'best_feature' where it is not associated with a value
  #UnboundLocalError: cannot access local variable 'node_mse' where it is not associated with a value
  #UnboundLocalError: cannot access local variable 'best_split_point_current_feature' where it is not associated with a value

  for feature in this_node_data.columns:
    x = data[feature]

    split_points = split_point_finder(x)
    split_points_unique = np.unique(split_points)

    for split_point in split_points_unique:
      x_right, x_left, y_right, y_left = branching_splits(x, y, split_point)
#####---------------------------NEW --------------------------------------------
      # I added a crietion_equation to the function definition as well
      # in assignment 3, I use if-elif statemenet blocks for clustering options (linkage or distance formula)
      # here I am using a match-case statement block, you could alternate the equation used here throughout the random forest creation
      # instead of using mse or mae from a regression model we have implemented a match-case statement to choose between Gini and Entropy
      # we use the criterion_equation to designate, this is the only difference in this fucntion
      # as with MSE and MAE, the best split points with Gini Impurity and Entropy weighted values are the lowest values so the current logic works
      match criterion_equation:
        case 'Gini':
            unique_errors = weighted_Gini(y,y_right,y_left)
            feature_error_dictionary[feature, split_point] = [unique_errors]
        case 'Entropy':
            unique_errors = weighted_Entropy(y,y_right,y_left)
            feature_error_dictionary[feature, split_point] = [unique_errors]
        
      # for the regression model
      # unique_errors = weighted_branch_MSE(y,y_right,y_left)
      # feature_error_dictionary[feature, split_point] = [unique_errors]

        # recording the best feature and split point based on lowest weighted branch mse from the mse function
      if unique_errors[1] < minimum_error:
        minimum_error = unique_errors[1]
        root_impurity = unique_errors[0]
        best_feature = feature
        best_split_point_current_feature = split_point

  return feature_error_dictionary, root_impurity, minimum_error, best_feature, best_split_point_current_feature

In [57]:
# showing that the best_branching_random_features function delivers the best split point, feature, and mse of leaves along with root node mse
def main(data, label_column_name, num_randomized_features):

  dictionary_of_errors_for_node, root_impurity, minimum_error, feature, split_point = best_branching_random_features(data, label_column_name, num_randomized_features, 'Gini')

  print(root_impurity)
  print(minimum_error)
  print(feature)
  print(split_point)

  return dictionary_of_errors_for_node, root_impurity, minimum_error, feature, split_point

In [58]:

label_column_name = 'income'
X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap, all_oob = boot_strap_and_oob(train_data, label_column_name)


dictionary_of_errors_for_node, root_mse, branch_mse, feature, split_point = main(bootstrap, label_column_name, num_random_features)

0.5
0.4539056091595938
relationship_Own-child
0.5

In [59]:
# features chosen in the above split test
features = []
for feature, split_point in dictionary_of_errors_for_node:
  features.append(feature)

In [60]:
np.unique(features)

array(['education_10th', 'education_9th', 'education_Assoc-acdm',
       'education_HS-grad', 'education_Masters', 'education_Prof-school',
       'marital-status_Married-spouse-absent',
       'native-country_Dominican-Republic', 'native-country_Ecuador',
       'native-country_Jamaica', 'native-country_Japan',
       'native-country_Trinadad&Tobago', 'native-country_Vietnam',
       'native-country_Yugoslavia', 'occupation_Prof-specialty',
       'occupation_Tech-support', 'relationship_Own-child',
       'relationship_Wife', 'sex_Male', 'workclass_Federal-gov',
       'workclass_Self-emp-inc'], dtype='<U36')

In [61]:
# added the criterion_equation to the function definition
# changed the prediciton node return from npmean of the node values to returning the mode of the samples in the node for a class label prediction vote


# this is my decision tree builder function, which is similar to that of which was built in class but I went with a dictionary instead of a tuple return type
# I have set parameters for max depth of the tree, minimum number of samples in a node to try to split it, and a minimum number of samples in the resulting leaves to continue with the splitting


# I had to add the criterion_equation hyper parameter to this function definition 
def dt_builder(bootstrap_current_node, label_column_name, num_randomized_features, minimum_samples_per_leaf, min_samples_per_split, max_depth, criterion_equation , depth = 0):

  before_split_sample_size = bootstrap_current_node.shape[0]# get the number of samples in the current parent node


  # this is like the max depth checker in the in-class example, but we must also check to make sure that there are enough samples in the parent node to even determine if splitting is worthwhile
  if depth >= max_depth or before_split_sample_size < min_samples_per_split: # if depth is >= max depth or there arent enough samples in the parent node then we return a prediction
    return {"prediction_this_node": bootstrap_current_node[label_column_name].mode()[0]}   #np.mean(bootstrap_current_node[label_column_name])}
    # the only difference between the regression model of this function and the classification model is that instead of returning np.mean as a value prediction for the node
    # we return the most abundant class label in the prediction node, so a voting-esque system - we take the mode of the samples that are in the node we are returning for our prediction
    # and that is our prediciton / vote for the class label for the sample we pass into the prediction defunction that traverses this decision tree
 
    # we have not reached max depth or the minimum number of samples in the parent node, so we call our function to find the best splitting at this node
  # we pass thorugh the current node sample, the label, and the number of features to randomly choose
  dictionary_of_errors_for_node, root_mse, branch_mse, feature, split_point = best_branching_random_features(bootstrap_current_node, label_column_name, num_randomized_features, criterion_equation)


  # this is where I began getting errors for the uninitialized best feature, split and root mse in our branching function
  # I have initialized the best feature to my name, if this is returned that means there were no valid split points found in the features randomly selected
  # this seems to be due to a small number of samples in the node and the sample feature values being the same, like all having 1.0 floors as an example, no splits found so kelton is returned
  # in the case that this non-feature basecase is returned we can no longer split and return this node as a prediction node
  if feature == 'Kelton':
    # print(feature) # testing
    return {"prediction_this_node": bootstrap_current_node[label_column_name].mode()[0]} # np.mean(bootstrap_current_node[label_column_name])}
    # the only difference between the regression model of this function and the classification model is that instead of returning np.mean as a value prediction for the node
    # we return the most abundant class label in the prediction node, so a voting-esque system - we take the mode of the samples that are in the node we are returning for our prediction
    # and that is our prediciton / vote for the class label for the sample we pass into the prediction defunction that traverses this decision tree
    
  # just like branching splits we use vectorized operations on the current node to get the data for the resulting left and right leaf nodes from the split
  # I suppose you could store these in the error dictionary from the best_branching_random_features from above
  left_node_data = bootstrap_current_node[bootstrap_current_node[feature] < split_point]

  right_node_data = bootstrap_current_node[bootstrap_current_node[feature] >= split_point]

  # this gets the size of the resulting split leaf nodes, left and right, from the lead node data sets, we get the sizes to check the leaf node sample sizes against the minimum
  left_sample_size = left_node_data.shape[0]
  right_sample_size = right_node_data.shape[0]

  # here we are checking if both the left and right resulting leaf node samples from splitting are greater than or equal to the minimum value parameter we have set
  # if either is less than the parameter threshold we do not do the node split and we return the node as a prediction node instead
  if left_sample_size < minimum_samples_per_leaf or right_sample_size < minimum_samples_per_leaf:
    return {"prediction_this_node": bootstrap_current_node[label_column_name].mode()[0]}  #np.mean(bootstrap_current_node[label_column_name])}
    # the only difference between the regression model of this function and the classification model is that instead of returning np.mean as a value prediction for the node
    # we return the most abundant class label in the prediction node, so a voting-esque system - we take the mode of the samples that are in the node we are returning for our prediction
    # and that is our prediciton / vote for the class label for the sample we pass into the prediction defunction that traverses this decision tree
    
 # these are our recrusive calls to this function, for the left nodes and right nodes, each time we increase the depth by 1 so we know if we need to stop the branching due to depth
 # these calls are what create the tree leaf structure below the root node which is created the first time we call this function
  left_leaf_node = dt_builder(left_node_data, label_column_name, num_randomized_features, minimum_samples_per_leaf, min_samples_per_split, max_depth, criterion_equation, depth + 1) #added the criterion_equation to this function call
  right_leaf_node = dt_builder(right_node_data, label_column_name, num_randomized_features, minimum_samples_per_leaf, min_samples_per_split, max_depth, criterion_equation, depth + 1)#added the criterion_equation to this function call

  # just like our tuple return from the in class version of this code, we return the feature, the split point, the left leaf node and right leaf node, in dictionary form instead of tuples
  return { "feature": feature, "split_point": split_point, "left_leaf_node": left_leaf_node, "right_leaf_node": right_leaf_node}
  # I had dynamic depth tracking in the key of the leaf nodes, but that was making tree navigation more difficult so I opted to remove it

In [62]:
# I did not need to edit this function from assingment 2 as nothing here changed
# we didnt need to change the traversal, only the decision tree builder function to return a class label vote instead of a value prediciton calculated as the label means in the node


def predict_traversal(individual_tree, test_data):
# in the in class version with tuples and different data format, we can check if isinstance tree,float - which wouldn't work for multiple reasons in this assignment
# I have opted for the decision tree to be a dictionary format instead of a tuple, both are hard to read though
# instead of checking for a float, because I have set a key for when a node becomes a prediciton, we check for the key "prediction_this_node" each time we call this function, and when it finds this key it returns
# the prediction value that is associated with that node
  if "prediction_this_node" in individual_tree:
    return individual_tree["prediction_this_node"]

  # we need to pull the feature and split point values from each dictionary entry to traverse further down, once we have the feature and the split we can test the value of the feature of the sample datapoint against the split point
  # so we use the keys to get the values
  current_feature = individual_tree["feature"]
  current_split_point = individual_tree["split_point"]


  # if the value for this samples feature value is less than the split point we traverse to the left child node
  # if the value for this samples feature value is greater than or equal to the split point then we traverse to the right child node
  # this traversal will come to an end when we encounter the key indicating a prediciton node
  if test_data[current_feature] < current_split_point:
    return predict_traversal(individual_tree["left_leaf_node"], test_data) # go to the next left node
  else:
    return predict_traversal(individual_tree["right_leaf_node"], test_data) # go to the next right node

In [63]:
# creating a single test decision tree, min samples, min samples to even try to split is at least 2x the minimum samples per leaf
# I was trying to experiment with setting the min samples to consider splitting higher than 2x the min samples per leaf
# max depth of 10, https://www.geeksforgeeks.org/how-to-choose-ideal-decision-tree-depth-without-overfitting/
# in the link they are using a classifier model, so this may be irrelevant to a regression model
# but they test depths from 1-15 and their accuraccy seems to almost peak around a max depth of 7
# I have been testing between 3-12 and I seem to be getting the best results around 8-12 given the parameter of 4 randomly chosen features I have been using,

minimum_samples_per_leaf = 5
min_samples_per_split = (minimum_samples_per_leaf * 2) + 1
max_depth = 7

X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap_current_node, all_oob = boot_strap_and_oob(train_data, label_column_name)
individual_tree_dict = dt_builder(bootstrap_current_node, label_column_name, num_random_features, minimum_samples_per_leaf, min_samples_per_split, max_depth,criterion_equation = 'Gini', depth = 0)
individual_tree_dict

{'feature': 'marital-status_Married-civ-spouse',
 'split_point': np.float64(0.5),
 'left_leaf_node': {'feature': 'age',
  'split_point': np.float64(28.5),
  'left_leaf_node': {'prediction_this_node': np.int64(0)},
  'right_leaf_node': {'feature': 'capital-gain',
   'split_point': np.float64(4668.5),
   'left_leaf_node': {'feature': 'sex_Male',
    'split_point': np.float64(0.5),
    'left_leaf_node': {'feature': 'education_HS-grad',
     'split_point': np.float64(0.5),
     'left_leaf_node': {'feature': 'education-num',
      'split_point': np.float64(12.5),
      'left_leaf_node': {'feature': 'education_Assoc-voc',
       'split_point': np.float64(0.5),
       'left_leaf_node': {'prediction_this_node': np.int64(0)},
       'right_leaf_node': {'prediction_this_node': np.int64(0)}},
      'right_leaf_node': {'prediction_this_node': np.int64(0)}},
     'right_leaf_node': {'prediction_this_node': np.int64(0)}},
    'right_leaf_node': {'feature': 'capital-gain',
     'split_point': np.float64(57.0),
     'left_leaf_node': {'feature': 'education_Prof-school',
      'split_point': np.float64(0.5),
      'left_leaf_node': {'feature': 'hours-per-week',
       'split_point': np.float64(43.5),
       'left_leaf_node': {'prediction_this_node': np.int64(0)},
       'right_leaf_node': {'prediction_this_node': np.int64(0)}},
      'right_leaf_node': {'prediction_this_node': np.int64(1)}},
     'right_leaf_node': {'prediction_this_node': np.int64(0)}}},
   'right_leaf_node': {'feature': 'occupation_Farming-fishing',
    'split_point': np.float64(0.5),
    'left_leaf_node': {'feature': 'workclass_Federal-gov',
     'split_point': np.float64(0.5),
     'left_leaf_node': {'prediction_this_node': np.int64(1)},
     'right_leaf_node': {'prediction_this_node': np.int64(1)}},
    'right_leaf_node': {'prediction_this_node': np.int64(1)}}}},
 'right_leaf_node': {'feature': 'education-num',
  'split_point': np.float64(11.5),
  'left_leaf_node': {'feature': 'occupation_Other-service',
   'split_point': np.float64(0.5),
   'left_leaf_node': {'feature': 'age',
    'split_point': np.float64(33.5),
    'left_leaf_node': {'feature': 'education-num',
     'split_point': np.float64(7.5),
     'left_leaf_node': {'feature': 'education_7th-8th',
      'split_point': np.float64(0.5),
      'left_leaf_node': {'prediction_this_node': np.int64(0)},
      'right_leaf_node': {'prediction_this_node': np.int64(0)}},
     'right_leaf_node': {'feature': 'workclass_Federal-gov',
      'split_point': np.float64(0.5),
      'left_leaf_node': {'feature': 'native-country_Cuba',
       'split_point': np.float64(0.5),
       'left_leaf_node': {'prediction_this_node': np.int64(0)},
       'right_leaf_node': {'prediction_this_node': np.int64(1)}},
      'right_leaf_node': {'prediction_this_node': np.int64(1)}}},
    'right_leaf_node': {'feature': 'workclass_Self-emp-not-inc',
     'split_point': np.float64(0.5),
     'left_leaf_node': {'feature': 'education_9th',
      'split_point': np.float64(0.5),
      'left_leaf_node': {'feature': 'education_10th',
       'split_point': np.float64(0.5),
       'left_leaf_node': {'prediction_this_node': np.int64(1)},
       'right_leaf_node': {'prediction_this_node': np.int64(0)}},
      'right_leaf_node': {'prediction_this_node': np.int64(0)}},
     'right_leaf_node': {'feature': 'education_10th',
      'split_point': np.float64(0.5),
      'left_leaf_node': {'feature': 'age',
       'split_point': np.float64(61.5),
       'left_leaf_node': {'prediction_this_node': np.int64(1)},
       'right_leaf_node': {'prediction_this_node': np.int64(0)}},
      'right_leaf_node': {'prediction_this_node': np.int64(0)}}}},
   'right_leaf_node': {'feature': 'age',
    'split_point': np.float64(33.5),
    'left_leaf_node': {'prediction_this_node': np.int64(0)},
    'right_leaf_node': {'feature': 'capital-gain',
     'split_point': np.float64(6155.5),
     'left_leaf_node': {'feature': 'fnlwgt',
      'split_point': np.float64(99528.0),
      'left_leaf_node': {'feature': 'native-country_United-States',
       'split_point': np.float64(0.5),
       'left_leaf_node': {'prediction_this_node': np.int64(0)},
       'right_leaf_node': {'prediction_this_node': np.int64(0)}},
      'right_leaf_node': {'feature': 'age',
       'split_point': np.float64(34.5),
       'left_leaf_node': {'prediction_this_node': np.int64(1)},
       'right_leaf_node': {'prediction_this_node': np.int64(0)}}},
     'right_leaf_node': {'prediction_this_node': np.int64(1)}}}},
  'right_leaf_node': {'feature': 'occupation_Exec-managerial',
   'split_point': np.float64(0.5),
   'left_leaf_node': {'feature': 'education-num',
    'split_point': np.float64(13.5),
    'left_leaf_node': {'feature': 'native-country_South',
     'split_point': np.float64(0.5),
     'left_leaf_node': {'feature': 'occupation_Sales',
      'split_point': np.float64(0.5),
      'left_leaf_node': {'feature': 'occupation_Prof-specialty',
       'split_point': np.float64(0.5),
       'left_leaf_node': {'prediction_this_node': np.int64(1)},
       'right_leaf_node': {'prediction_this_node': np.int64(1)}},
      'right_leaf_node': {'prediction_this_node': np.int64(1)}},
     'right_leaf_node': {'prediction_this_node': np.int64(0)}},
    'right_leaf_node': {'feature': 'occupation_Adm-clerical',
     'split_point': np.float64(0.5),
     'left_leaf_node': {'feature': 'education-num',
      'split_point': np.float64(14.5),
      'left_leaf_node': {'prediction_this_node': np.int64(1)},
      'right_leaf_node': {'feature': 'native-country_South',
       'split_point': np.float64(0.5),
       'left_leaf_node': {'prediction_this_node': np.int64(1)},
       'right_leaf_node': {'prediction_this_node': np.int64(1)}}},
     'right_leaf_node': {'prediction_this_node': np.int64(1)}}},
   'right_leaf_node': {'feature': 'capital-gain',
    'split_point': np.float64(5095.5),
    'left_leaf_node': {'feature': 'workclass_Federal-gov',
     'split_point': np.float64(0.5),
     'left_leaf_node': {'feature': 'age',
      'split_point': np.float64(54.5),
      'left_leaf_node': {'prediction_this_node': np.int64(1)},
      'right_leaf_node': {'prediction_this_node': np.int64(1)}},
     'right_leaf_node': {'feature': 'education_Masters',
      'split_point': np.float64(0.5),
      'left_leaf_node': {'prediction_this_node': np.int64(1)},
      'right_leaf_node': {'prediction_this_node': np.int64(1)}}},
    'right_leaf_node': {'prediction_this_node': np.int64(1)}}}}}

In [64]:
# the only edit to this function was adding in the random forest hyper parameters:
# criterion_equation, max_depth, minimum_samples_per_leaf, min_samples_per_split 

# These were already implemented in my decision tree function but I was not passing them as a parameter into my random forect classifier
# I was simply declaring them inside of the classifier function, but now I am passing them through the classiifier function definiton parameters to the decisiont tree builder function



# so with the functionality of our decision tree builder and prediction recursive functions established, the random forest regressor and the aggregate prediciton functions are not too difficult
# we just need to create loops to build enough trees to become a forest of X size, and then traverse all of them to make predictions with the forest structure
# here we need to pass in all of the parameters that we need, the training data, label, number of tree to build, the num of random features and the bootstramp sample size which should match out training sample size

def random_forest_classifier_from_scratch(data, label_column_name, number_of_trees, num_randomized_features, criterion_equation, max_depth, minimum_samples_per_leaf, min_samples_per_split ):

  forest_of_trees_dict = {}

  # these 3 variables are the ones that we change to try and tune our trees which resulting in tuning the forest
  # I have been fiddling with these to get lower MSE's in our testing results
  # 8500 split values rounded up are 4250, 2125, 1063, 532, 266, 133, 67, 34, 17, 9, 5, 3, 2
  # at 13 splits we are getting leafs with very few samples
  # I was getting some of my best results at min samples 9, max depth 10 if I recall
  minimum_samples_per_leaf =  minimum_samples_per_leaf
  min_samples_per_split = min_samples_per_split # this is me rounding up when determining how many samples in the current node are needed to even try to split before testing leaf # samples
  max_depth = max_depth

  each_entry_oob =[]

  #build all the trees paramaterized
  for i in range(number_of_trees):

    # each tree gets its own bootstrap, everytime we call dt_builder we need a new bootstrap
    #dt_builder builds trees with randomized features at each node of the tree
    # then we store all of the OOB df indices to a list, you could store the whole dataframe, but when I access them later I only need the index values, so I am going to take only those now
    # you can use list(df indices) or the method that I used as .tolist() - I do remember seeing one comment on a website stating something about how list(df indices) might be safer or more reliable for some data structures? something to do with numpy I believe
    # we then store each tree in a  forest dictionary entry, the key is the tree number and the value is a tuple with value[0] = dictionary that is the tree itself, and value[1] is the array of indices of the oob values for the bootstrap sample used in building the tree
    X_bootstrap, y_bootstrap, X_oob, y_oob, bootstrap_current_node, all_oob = boot_strap_and_oob(data, label_column_name)
    individual_tree_dict = dt_builder(bootstrap_current_node, label_column_name, num_randomized_features, minimum_samples_per_leaf, min_samples_per_split, max_depth, criterion_equation, depth = 0)
    each_entry_oob_indices = all_oob.index.values.tolist()
    forest_of_trees_dict[i] = individual_tree_dict , each_entry_oob_indices

# then we return the forest dictionary
  return forest_of_trees_dict

In [65]:
# added the hyperparameters tot he main function and the random forest classifier function

# testing the forest
# determining the bootstrap sample size from the data passed into main, whereas num trees and num randomized features are currently being passed into main
# its likely better to have them set as variables within the function that calls the forest creator
def main3(data, label_column_name, number_of_trees, num_randomized_features, criterion_equation, max_depth, minimum_samples_per_leaf, min_samples_per_split ):
    forest_dict_trees = random_forest_classifier_from_scratch(data, label_column_name, number_of_trees, num_randomized_features, criterion_equation, max_depth, minimum_samples_per_leaf, min_samples_per_split)
    return forest_dict_trees

In [66]:
# calling main to create the forest with num trees, the number of randomized features and the other hyper params


#num_randomized_features = num_random_features # we declared this above, you can change the value to anything though, currently ceil(sqrt(features)*2)
num_randomized_features = 16 # lets try something in between sqrt and sqrt * 2
number_of_trees =  111
criterion_equation = 'Gini' # 'Gini' or 'Entropy' are only supported
max_depth = 7
minimum_samples_per_leaf = 15
min_samples_per_split = 31

forest_dict_trees = main3(train_data, label_column_name, number_of_trees, num_randomized_features, criterion_equation, max_depth, minimum_samples_per_leaf, min_samples_per_split)

In [67]:
# This function needed to be edited for the regression to classifier change as the predictions have significantly changed
# instead of taking an aggregate of all the individual decision tree predictions and taking the average of it to the return a mean random forest prediciton
# we instead declare a list to store the binary label class votes from each decision tree, so our decision trees now return a prediction for the samples' label feature 
# a binary classification predicition as we only have two categories in our label in this dataset
# so once we traverse all of the trees in the randomforest and get their classificaiton prediciton, we do a majority vote for what the random forest will return
# to do this we turn the list that was storing all of the decision tree individual votes into a pandas series and we return its mode, 
# which will return the classification prediction with the largest value_count  / the most frequent vote
# we traverse 

def aggregate_prediction(forest_dict_trees, test_data):
  votes = [] # list to store each tree prediction

  # here we iterate through the tree,oob value pairs in each of the decision trees in our forest dicitonary
  # tree index: tree-dict, oob array in the items list of our forest dictionary
  # for each entry/item/key:value pair we grab the tree in the value and we traverse it given our test_data sample that we pass into the aggregate_prediction function
  # so we call the individual tree prediction function for each each tree and use the same sample data for each tree as we want an aggregate prediction acrros all trees in the forest
  for tree_index, (individual_tree, oob_indices) in forest_dict_trees.items():
    vote = predict_traversal(individual_tree, test_data) # traverse the tree and get a prediction
    votes.append(vote) # we add the prediction to our list of predicitons 

  votes_pandas = pd.Series(votes) # we divide the sum of the predictions by the number of trees we have in our forest
  return votes_pandas.mode()[0]

In [68]:
train_data['income'].tail(20)

21094    1
21095    0
21096    0
21097    0
21098    0
21099    1
21100    0
21101    1
21102    0
21103    0
21104    0
21105    0
21106    0
21107    1
21108    0
21109    1
21110    1
21111    0
21112    0
21113    0
Name: income, dtype: int64

In [69]:
aggregate_prediction(forest_dict_trees, train_data.iloc[21092])

np.int64(0)

In [70]:
aggregate_prediction(forest_dict_trees, train_data.iloc[21095])

np.int64(0)

# SKLEARN on my datatset

In [71]:

# here is my sklearn random forest classifier with the exact same dataset I built for my from_scratch function
# we need to declare x_train, y_train and x_test and y_test
X_train_mine = train_data.drop(label_column_name, axis=1)
y_train_mine = train_data[label_column_name]

X_test_mine = test_data.drop(label_column_name, axis=1)
y_test_mine = test_data[label_column_name]

In [72]:
X_train_mine.shape

(21114, 104)

In [73]:
X_test_mine.shape

(9047, 104)

In [74]:
# here we build the model in sklearn 
sklearn_rf_model_mine = RandomForestClassifier(n_estimators=75, criterion='gini', max_features='sqrt', bootstrap=True, n_jobs=-1, random_state=110)
sklearn_rf_model_mine.fit(X_train_mine,y_train_mine)

RandomForestClassifier(n_estimators=75, n_jobs=-1, random_state=110)

In [75]:
y_predictions_mine = sklearn_rf_model_mine.predict(X_test_mine) # make predicitions for all of the x_test samples

In [76]:
# I implement a confusion matrix from scratch for my own implementation of the classifier
# but here I use confusion matrix from sklearn
# we declear the confusion matrix for this random forest classifier implementation and we get an np array return
cm_mine = confusion_matrix(y_test_mine,y_predictions_mine)
cm_mine

array([[6253,  542],
       [ 813, 1439]])

In [77]:
# here we flatten this mulitdimentional array into its 4 componenets
# we use these in a comparision further down
tn_sklearn, fp_sklearn, fn_sklearn, tp_sklearn = cm_mine.ravel()

# All SKLEARN Implementation

In [78]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html
# I wanted to test my implementation against an SKlearn implementation that used an sklearn encoded dataset
# so I leave my binary label encoding from earlier, where we created sklean_data
# then we create a oneHotEncoder without sparse output so that we get an np array and the parameter to create concatenated column names
encoder = OneHotEncoder(sparse_output=False, feature_name_combiner="concat") 
encoded_cols = encoder.fit_transform(sklearn_data[cols_categorical]) # here we use the encoder to transform all of the categorical columns, income has been removed

In [79]:
encoded_cols

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       ...,
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]], shape=(30161, 98))

In [80]:
feature_names = encoder.get_feature_names_out(cols_categorical) # here we extract the column names

In [81]:
feature_names

array(['workclass_Federal-gov', 'workclass_Local-gov',
       'workclass_Private', 'workclass_Self-emp-inc',
       'workclass_Self-emp-not-inc', 'workclass_State-gov',
       'workclass_Without-pay', 'education_10th', 'education_11th',
       'education_12th', 'education_1st-4th', 'education_5th-6th',
       'education_7th-8th', 'education_9th', 'education_Assoc-acdm',
       'education_Assoc-voc', 'education_Bachelors',
       'education_Doctorate', 'education_HS-grad', 'education_Masters',
       'education_Preschool', 'education_Prof-school',
       'education_Some-college', 'marital-status_Divorced',
       'marital-status_Married-AF-spouse',
       'marital-status_Married-civ-spouse',
       'marital-status_Married-spouse-absent',
       'marital-status_Never-married', 'marital-status_Separated',
       'marital-status_Widowed', 'occupation_Adm-clerical',
       'occupation_Armed-Forces', 'occupation_Craft-repair',
       'occupation_Exec-managerial', 'occupation_Farming-fishing',
       'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct',
       'occupation_Other-service', 'occupation_Priv-house-serv',
       'occupation_Prof-specialty', 'occupation_Protective-serv',
       'occupation_Sales', 'occupation_Tech-support',
       'occupation_Transport-moving', 'relationship_Husband',
       'relationship_Not-in-family', 'relationship_Other-relative',
       'relationship_Own-child', 'relationship_Unmarried',
       'relationship_Wife', 'race_Amer-Indian-Eskimo',
       'race_Asian-Pac-Islander', 'race_Black', 'race_Other',
       'race_White', 'sex_Female', 'sex_Male', 'native-country_Cambodia',
       'native-country_Canada', 'native-country_China',
       'native-country_Columbia', 'native-country_Cuba',
       'native-country_Dominican-Republic', 'native-country_Ecuador',
       'native-country_El-Salvador', 'native-country_England',
       'native-country_France', 'native-country_Germany',
       'native-country_Greece', 'native-country_Guatemala',
       'native-country_Haiti', 'native-country_Holand-Netherlands',
       'native-country_Honduras', 'native-country_Hong',
       'native-country_Hungary', 'native-country_India',
       'native-country_Iran', 'native-country_Ireland',
       'native-country_Italy', 'native-country_Jamaica',
       'native-country_Japan', 'native-country_Laos',
       'native-country_Mexico', 'native-country_Nicaragua',
       'native-country_Outlying-US(Guam-USVI-etc)', 'native-country_Peru',
       'native-country_Philippines', 'native-country_Poland',
       'native-country_Portugal', 'native-country_Puerto-Rico',
       'native-country_Scotland', 'native-country_South',
       'native-country_Taiwan', 'native-country_Thailand',
       'native-country_Trinadad&Tobago', 'native-country_United-States',
       'native-country_Vietnam', 'native-country_Yugoslavia'],
      dtype=object)

In [82]:
encoded_cols_add = pd.DataFrame(encoded_cols, columns = feature_names, index = sklearn_data.index)
encoded_cols_add
# now we create a dataframe with our new columns and the extracted feature names

,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_10th,education_11th,education_12th,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32556,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32557,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32558,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32559,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [83]:
dropped = sklearn_data.drop(cols_categorical, axis =1)
dropped # then we drop all of the categorical columns like we did before
# drop them from axis 1 as they are columns in the dataFrame

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income
0,50,83311,13,0,0,13,0
1,38,215646,9,0,0,40,0
2,53,234721,7,0,0,40,0
3,28,338409,13,0,0,40,0
4,37,284582,14,0,0,40,0
...,...,...,...,...,...,...,...
32555,27,257302,12,0,0,38,0
32556,40,154374,9,0,0,40,1
32557,58,151910,9,0,0,40,0
32558,22,201490,9,0,0,20,0
32559,52,287927,9,15024,0,40,1

In [84]:
sklearn_data_encoded = pd.concat([dropped, encoded_cols_add], axis = 1)
sklearn_data_encoded #now we concatenant the oneHot encoded columns with what is left from our un-encoded starting dataset

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,50,83311,13,0,0,13,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,38,215646,9,0,0,40,0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,53,234721,7,0,0,40,0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,28,338409,13,0,0,40,0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,37,284582,14,0,0,40,0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,257302,12,0,0,38,0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32556,40,154374,9,0,0,40,1,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32557,58,151910,9,0,0,40,0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32558,22,201490,9,0,0,20,0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32559,52,287927,9,15024,0,40,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [85]:
# so this above was to validate my encoding at the begenning of this notebook and to test if their implementation made 
# a meaninful difference with the sklearn implementation of the classifier over mine

In [86]:
X = sklearn_data_encoded.drop(label_column_name, axis=1) # declare X and y for train_test_split

In [87]:
y = sklearn_data_encoded[label_column_name]

In [88]:
X_train,X_test,y_train,y_test = train_test_split (X, y, test_size = 0.3, random_state = 110, stratify= y)
# my implementation of train_test_split should produce similar results, this output will also be stratified and perserve 30% of the data for testing
# I believe they round up and I round down with int in my implementation, if I recall

In [89]:
X_train.shape

(21112, 104)

In [90]:
X_test.shape

(9049, 104)

In [91]:
#class sklearn.ensemble.RandomForestClassifier(n_estimators=100, *, criterion='gini', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='sqrt', max_leaf_nodes=None, min_impurity_decrease=0.0, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False, class_weight=None, ccp_alpha=0.0, max_samples=None, monotonic_cst=None)[source]
# above is all of the parameters for sklearn RF Classifier

#this time I am running the model with entropy, whereas the one built on my dataset was using gini impurity

# sklearn_rf_model = RandomForestClassifier(n_estimators=100, criterion='gini', max_depth=None, min_samples_split=10, min_samples_leaf=5, max_features='sqrt', bootstrap=True, oob_score=False, n_jobs=-1, random_state=110)
sklearn_rf_model = RandomForestClassifier(n_estimators=75, criterion='entropy', max_features='sqrt', bootstrap=True, n_jobs=-1, random_state=110)

sklearn_rf_model.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=75, n_jobs=-1,
                       random_state=110)

In [92]:
y_predictions = sklearn_rf_model.predict(X_test) # make predicitons on the test dataset

In [93]:
cm_all_sklearn = confusion_matrix(y_test,y_predictions)
cm_all_sklearn # create a confusion matrix  with the prediciton results

array([[6265,  531],
       [ 831, 1422]])

In [94]:
tn_all_sklearn_entropy, fp_all_sklearn_entropy, fn_all_sklearn_entropy, tp_all_sklearn_entropy = cm_all_sklearn.ravel()
# flatten the multi-dimensional confusion matrix array into its 4 componenets for binary classificaition

# Evaluation Metrics

In [95]:

# here in my confusion matric function we pass in whatever data we want to predict labels for, for us the testing data
# and we need the label col name as well as the random forest dicitonary

# we then declare our 4 confusioon matrix parameters and for each sample in our testing dataset
# we take an aggregate prediciton from the random forest
# and then we compare the prediciton to the actual sample class label numerical category / binary classification
# given the 4 confusion matrix parameters depending on the outcome of the comparision from the prediction and the correct value we
# incremenet the confusion matrix parameter that is associated with the outcome
# true positive is true with a true prediciton
# false positive is false with a true prediciton
# true negative is negative with a negative prediciton
# false negative is negative with a npositive prediciton

def kelton_confusion_matrix(forest_dict_trees, data, label_column_name):
    True_Positive = 0
    False_Positive = 0
    True_Negative = 0
    False_Negative = 0
    
    for index, sample in data.iterrows():
        prediction = aggregate_prediction(forest_dict_trees, sample)
        actual_Value = sample[label_column_name]

        if prediction == 1 and actual_Value == 1:
            True_Positive +=1
        elif prediction == 1 and actual_Value == 0:
            False_Positive +=1
        elif prediction == 0 and actual_Value == 0:
            True_Negative +=1
        elif prediction == 0 and actual_Value == 1:
            False_Negative +=1

    return     True_Positive, False_Positive, True_Negative, False_Negative

In [96]:
# SKLEARN orientation = 
# tn, fp
# fn, tp 
# but if I am being honest I don't understand why its this orientation as diagnolly swapped seems more "user/reader" friendly:
# tp, fn
# fp, tn

# here I display my confusion matrix in the same way that sklearn displays theirs for an apples to apples comparision
# TN - FP
# FN - TP

TP, FP, TN, FN = kelton_confusion_matrix(forest_dict_trees, test_data, label_column_name)
confusion_matrix = np.array([[TN, FP], [FN, TP]])
confusion_matrix

array([[4905, 1890],
       [ 254, 1998]])

In [97]:
# correct classifications / total classifications
# true positive + true negative / tp + tn + false pos +false neg
# here we take the accuracy of our predicitons, all correct classification divided by the total number of classifications
def accuracy_confusion_matrix (TP, FP, TN, FN):
    return ((TP+TN) / (TP+TN+FP+FN))

In [98]:
# how many predicted positive are correct - how many of the predicted positives were actually correct
# true positive / tp + false positives
# if false positives are important then use this
# we compute how many true positives dividied by tp + false positive to calculate our precision for true positives
def precision_confusion_matrix (TP, FP, TN, FN):
    return ((TP) / (TP+FP))

In [99]:
# sensitivity - how many actual positives were found - true positives divided by all positives, false negatives are positives
# true positive / tp + false negatives
# when false negatives are important use this
# here we calculate our recal, this is true positives/ tp + false negatives and measures how many of the real positives were correctly guessed
def recall_confusion_matrix (TP, FP, TN, FN):
    return ((TP) / (TP+FN))

In [100]:
# use for imbalanced datasets - balance between precision and recall
# we use f1score when our datasets are not entirely balanced as datasets with a large amount of samples in one of the label classes
# can overly affect our accurcay, precision and recall if the model is overfitted to towards that large imbalance in samples
# here we multiple precision and recall then divide that by precision + recall and multiply that result by 2
# this 
def f1_score_confusion_matrix (TP, FP, TN, FN):
    precision_correctness = precision_confusion_matrix(TP, FP, TN, FN)
    recall_sensitivity = recall_confusion_matrix(TP, FP, TN, FN)
    
    f1 = 2 * ( (precision_correctness * recall_sensitivity) / (precision_correctness + recall_sensitivity) )
    
    return f1

# Result from my Implementation
# I discuss these results in my read me

In [101]:
from_scratch_accuracy = accuracy_confusion_matrix(TP, FP, TN, FN) 
from_scratch_accuracy *100

76.30153642091301

In [102]:
from_scratch_precision = precision_confusion_matrix (TP, FP, TN, FN)
from_scratch_precision *100

51.388888888888886

In [103]:
from_scratch_recall = recall_confusion_matrix (TP, FP, TN, FN)
from_scratch_recall *100

88.72113676731794

In [104]:
from_scratch_f1_score =  f1_score_confusion_matrix (TP, FP, TN, FN)
from_scratch_f1_score *100

65.08143322475568

### Result from my the same data with SKLEARN

In [105]:
sklearn_accuracy = accuracy_confusion_matrix(tp_sklearn, fp_sklearn, tn_sklearn, fn_sklearn) 
sklearn_accuracy *100

np.float64(85.02265944511993)

In [106]:
sklearn_precision = precision_confusion_matrix(tp_sklearn, fp_sklearn, tn_sklearn, fn_sklearn) 
sklearn_precision *100

np.float64(72.64008076728925)

In [107]:
sklearn_recall = recall_confusion_matrix(tp_sklearn, fp_sklearn, tn_sklearn, fn_sklearn) 
sklearn_recall *100

np.float64(63.898756660746)

In [108]:
sklearn_f1_score = f1_score_confusion_matrix(tp_sklearn, fp_sklearn, tn_sklearn, fn_sklearn) 
sklearn_f1_score *100

np.float64(67.98960548074652)

### Result from the same dataset but with encoding from SKLEARN

In [109]:
sklearn_accuracy = accuracy_confusion_matrix(tp_all_sklearn_entropy, fp_all_sklearn_entropy, tn_all_sklearn_entropy, fn_all_sklearn_entropy) 
sklearn_accuracy *100

np.float64(84.9486131064206)

In [110]:
sklearn_precision = precision_confusion_matrix(tp_all_sklearn_entropy, fp_all_sklearn_entropy, tn_all_sklearn_entropy, fn_all_sklearn_entropy) 
sklearn_precision *100

np.float64(72.81105990783409)

In [111]:
sklearn_recall = recall_confusion_matrix(tp_all_sklearn_entropy, fp_all_sklearn_entropy, tn_all_sklearn_entropy, fn_all_sklearn_entropy) 
sklearn_recall *100

np.float64(63.115845539280954)

In [112]:
sklearn_f1_score = f1_score_confusion_matrix(tp_all_sklearn_entropy, fp_all_sklearn_entropy, tn_all_sklearn_entropy, fn_all_sklearn_entropy) 
sklearn_f1_score *100

np.float64(67.61768901569187)

# Multiprocessing
##### I actually broke my laptop while traveling so I did end up with the time to implement multiprocessing like I would have liked to

In [113]:
from mcnair_rf_classifier import imported_random_forest_classifier
from multiprocessing import Pool # multiprocessing but requires function to be in a .py file when working with jupyter?
from multiprocessing import get_context #older fork method not newer spawn, issues with this also, need to put functions in .py file maybe

# https://docs.python.org/3.10/library/multiprocessing.html
# https://stackoverflow.com/questions/72830743/multiprocessing-changed-in-python-3-9-from-3-7-on-macosx-how-to-fix
# https://machinelearningmastery.com/multiprocessing-in-python/
# https://medium.com/@dialoglk/boosting-performance-and-efficiency-exploring-the-advantages-of-multiprocessing-in-python-fd48202e1107
#

# def random_forest_regressor_from_scratch(data, label_column_name, number_of_trees, num_randomized_features, bootstrap_sample_size):